/*#about{background-image:url("/images/fullglasscapitol.png");background-size:80%;background-repeat:no-repeat;background-position:center;background-attachment:fixed;}
*/
#about h1{text-align:center}
#about h2{text-align:center}
#about h3{margin-bottom:5px;}
#usnutshell{margin:0 auto;width:40vw;padding:100px;}
#ourgoals{width:70vw;margin:0 auto;}
#corebeliefs{width:70vw;margin:0 auto;}
#ourdata{width:70vw;margin:0 auto;}
#thecode{width:70vw;margin:0 auto;}
#codetenants{background:#EAEAEA;}

#opeeps{width:80vw;margin:0 auto;display:flex;flex-wrap:wrap;}
#opeeps h2{width:100%;}
.pimg{background:pink;width:100px;height:100px;float:left;}
.ptext{background:lavender;}
#founder{background-color:#EAEAEA;width:100%;padding:50px 10vh;}
.peep{width:calc(50% - 40px);padding:25px 20px;}