#opening{
	position: relative;
	height: 100vh;
	padding-top: 50px;
	background-image: url("/images/stitched_wool.png");
	background-repeat: repeat;
	color: #162d50;
}
#title{
	margin:0;
	text-align: center;
	font-family: 'Playball', cursive;
	z-index: 3;
}
#mission{
	text-align: center;
	font-weight: bold;
	z-index: 3;
}
#buttonpanel{
	position: relative;
	z-index: 3;
}
#mbutton{
	margin: 0 auto;
	width: 200px;
	padding: 15px 0;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	background-color: darkred;
	color: white;
}
#mbutton:hover{
	background-color: #A23333;
}
#mbutton:active{
	background-color: #AE4D4D;
}
#flagswaving{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#wwa{
	position: relative;
	background-color: #0E1C32;
	height: 40vh;
}

/*Mobile nav*/
@media screen and (max-width: 965px){
	#opening{
		height: 100vh;
	}
	#title{
		margin: 35px 0 0 0;
		font-size: 38px;
	}
	#mission{
		margin-top: 30px;
		font-size: 18px;
	}
	#buttonpanel{
		margin-top: 30px;
	}
}

/*Desktop*/
@media screen and (min-width: 966px){
	#title{
		font-size: 100px;
	}
	#mission{
		margin-top: 10px;
		font-size: 20px;
	}
	#buttonpanel{
		margin-top: 30px;
	}
	#mbutton{

	}
}
