#baselayer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #0E1C32;
	z-index: 1;
}
#toplayer{
	position: relative;
	z-index: 2;
}

#opening{
	position: relative;
	height: 100vh;
	padding-top: 50px;
	background-image: url("/images/stitched_wool.png");
	background-repeat: repeat;
	color: #162d50;
}
#title{
	margin:0;
	text-align: center;
	font-family: 'Playball', cursive;
	z-index: 3;
}
#mission{
	text-align: center;
	font-weight: bold;
	z-index: 3;
}
#buttonpanel{
	position: relative;
	z-index: 5;
}
.mbutton{
	margin: 0 auto;
	width: 200px;
	padding: 15px 0;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	background-color: darkred;
	color: white;
}

.mbutton:active{
	background-color: #AE4D4D;
}
#discoverbutton{
	margin-bottom: 20px;
}
#flagswaving{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#wwa{
	position: relative;
	background-image: url("/images/stitched_wool.png");
	background-repeat: repeat;
	padding: 20px 0;
}
#spacers{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.spacer{
	position: relative;
}
#spblue{
	background-color: #0E1C32;
	height: 100px;
}
.spred{
	background-color: darkred;
	height: 70px;
}
#spwhite{
	background-color: white;
	height: 100px;
}
#wwa_content h2{
	position: relative;
	margin: 0 auto;
	max-width: 80%;
	text-align: center;
}
#abilitytriad{
	display: flex;
	justify-content: space-between;
}
.ability{
	background-color: red;
	color: black;
	font-weight: bold;
	text-align: center;
}
#quote_wrapper{
	position: relative;
	color: white;
	z-index: 1;
	border-top: solid darkred 10px;
	border-bottom: solid darkred 10px;
}
#quote{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	text-align: center;
	font-weight: bold;
}

#demo_wrapper{
	position relative;
	padding: 20px 0;
	background-image: url("/images/stitched_wool.png");
	background-repeat: repeat;
}


/*Mobile nav*/
@media screen and (max-width: 965px){
	#opening{
		height: 90vh !important;
	}
	#title{
		margin: 35px 0 0 0;
		font-size: 38px;
	}
	#mission{
		margin-top: 30px;
		font-size: 18px;
		padding: 0 20px;
	}
	#buttonpanel{
		margin-top: 30px;
	}
	#wwa{
		height: 145vw;
	}
	.content{
		position: relative;
		width: 95vw;
		height: 100%;
		margin: 0 auto;
		padding-top: 10px;
		z-index: 2;
		background-color: white;
	}

	#abilitytriad{
		position: relative;
		width: 80%;
		margin: 0 auto;
		flex-wrap: wrap;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.ability{
		margin: 0 auto;
		margin-top: 10px;
		width: 100%;
		height: 50px;
	}
	#abilitytext{
		margin-top: 20px;
		position: relative;
		width: 80%;
		margin: 0 auto;
	}
	#quote_wrapper{
		height: 80vw;
		background-color: #0E1C32;
	}
	#demo_wrapper{
		height: 145vw;
	}
}

/*Desktop*/
@media screen and (min-width: 966px){
	#title{
		font-size: 100px;
	}
	#mission{
		margin-top: 10px;
		font-size: 20px;
	}
	#buttonpanel{
		margin-top: 30px;
	}
	.mbutton:hover{
		background-color: #A23333;
	}
	#monuments{
		position: absolute;
		top: 100px;
		width: 100%;
	}
	#wwa{
		height: 90vh;
	}
	#wwa_content{
		position: relative;
		margin: 0 auto;
		width: 80vw;
		height: 90%;
		padding: 20px;
		text-align: center;
		background-color: white;
		z-index: 2;
	}
	#abilitytriad{
		margin-top: 50px;
		height: 40%;
	}
	.ability{
		width: 30%;
	}
	#abilitytext{
		margin-top: 50px;
	}
	#quote_wrapper{
		height: 40vh;
	}
	#quote{
		width: 30%;
		right: 150px;
	}
	#demo_wrapper{
		height: 90vh;
	}
	#demo_content{
		margin: 0 auto;
		width: 80vw;
		height: 100%;
		text-align: center;
		background-color: white;
	}
}
