#alphalogin{
	position: fixed;
	right: 0;
	top:62px;
	height: 50px;
	background-color: #33CCFF;
	color: white;
	font-size: 16px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:700;
	overflow: hidden;
}
#alphacall{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
}
#alphacall:hover{
	background-color: #5CD6FF;
}
#alogform{
	padding: 20px;
}