
#opening{position:relative;padding:170px 5vw 50px 5vw;min-height:calc(90vh - 220px);}
#opening h1{text-align:left;}
.section{position:relative;width:calc(100% - 10vw);padding:50px 5vw;display:inline-block;}
#centerpiece{position:absolute;bottom:50px;right:5vw;width:50%;}
.vpoint{position:relative;width:450px;max-width:calc(100vw - 10px);}
.vpoint h2{text-align:left;}
.leftpane{float:left;}
.rightpane{float:right;position:relative;}
.visualtitle{text-align:center}
.dem{background:blue;}
.repub{background:red;}
#partycomp{width:600px;}
#partycomp h4{text-align:center;}
#pcomptable{border-spacing:0;width:100%;}
#pcomptable img{height:50px;}
#pcomptable td{height:50px;}
#pcomptitles{padding:5px;}
.dem{background:blue;}
.repub{background:red;}
#connectionblurb{}
#findreps{background:#EAEAEA;height:500px;padding:20px;width:50%;}
.graphimg{width:50%;}
#partyselector{display:flex;margin:10px 0;}
.partyselect{padding:10px;width:50%;text-align:center;cursor:pointer;}
.partyselected{font-weight:bold;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
#currenntpolls{max-width:100vw;}
.graphback{display:none;width:500px;height:350px;}
#dempollgraph{background:lightblue;}
#repubpollgraph{background:lightcoral;}