
#opening{position:relative;padding:170px 5vw 50px 5vw;min-height:calc(90vh - 220px);}
#opening h1{text-align:left;}
.section{position:relative;width:calc(100% - 10vw);padding:50px 5vw;display:inline-block;}
#centerpiece{position:absolute;bottom:50px;right:5vw;width:50%;}
.vpoint{position:relative;width:450px;max-width:90vw;margin-bottom:100px;}
.vpoint h2,h4{display:block;text-align:left;}
.leftpane{float:left;}
.rightpane{float:right;position:relative;}
.visual{background:#EAEAEA;width:600px;min-height:500px;max-width:90vw;}
.visualtitle{text-align:center;}
.dem{background:blue;}
.repub{background:red;}
#pcomptable{border-spacing:0;width:100%;}
#pcomptable img{height:50px;}
#pcomptable td{height:50px;}
#pcomptitles{padding:5px;}
.dem{background:blue;}
.repub{background:red;}
.graphimg{width:50%;}
#partyselector{display:flex;margin:10px 0;}
.partyselect{padding:10px;width:50%;text-align:center;cursor:pointer;}
.partyselected{font-weight:bold;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
#current_standings{background:white;}
.graphback{display:none;width:600px;height:400px;}


/*Mobile only*/
@media screen and (max-width: 520px){
	#opening{padding:100px 5vw 0 5vw;}
}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	#opening h1,h3{text-align:center;}
	.vpoint h2{text-align:center;}
	#centerpiece{display:block;position:relative;margin:100px auto;width:80vw;}
	.leftpane{position:relative;float:none;margin:0 auto;}
	.rightpane{position:relative;float:none;margin:0 auto;}
}

/*Large Desktop*/
@media screen and (min-width: 1281px){
	.visual{width:55%;}
}