html, body{margin: 0;padding: 0;min-height: 100%;width: 100%;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:150%;color: #0E1C32;}

.z-index-1{-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
.z-index-2{-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);box-shadow: 0px 0px 15px rgba(0,0,0,1);}


#nav_wrapper{position: fixed;background-color: #0E1C32;width: 100vw;height: 50px;line-height: 50px;z-index: 1;padding: 0 20px;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: bold;font-size: 18px;color: #EAEAEA;opacity: .9;z-index: 8;}
#blogo{position: absolute;left: 0;height: 100%;}
#nav{position: absolute;top: 0;right: 60px;}
#nav a{text-decoration: none;margin: 0 10px;color: #EAEAEA;}
#nav a:hover{text-decoration: underline;}
#nav a:active{color: #33CCFF !important;}


#alphalogin{background-color: #33CCFF;color: white;font-size: 16px;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700;overflow: hidden;z-index: 2;opacity: .9;}
#alphacall{height: 50px;line-height: 50px;padding: 0 20px;}
#alphacall:hover{background-color: #5CD6FF;}
#alogform{padding: 20px;}

#content{position:relative;min-height: 95vh;z-index: 1;padding-top:50px;}
#footer{position:relative;display:flex;flex-wrap:wrap;color:#EAEAEA;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;background-color: #0E1C32;z-index: 3;border-top:solid 1px #0B1628;}
#footer h2{color:#ff3333;}
#footer h3{color:#ff3333;margin-bottom:5px;}
#footer ul{list-style: none;padding-left: 0;}
#footbox_wrapper{position: relative;display: flex;margin: 20px;margin-bottom: 0;background-color: #3F4C60;}
.footbox{}
#fboxmargin{position: absolute;bottom: 0;left: 0;width: 100%;height: 20px;background-color: #0E1C32;}
#footsocial{width:50%;max-width:95vw;}
#footsocioconline{display:flex;justif-content:space-between;}
.footsociocon{width:50px;height:50px;margin:20px;background:#162d50;}
#footcontributions{display:flex;flex-wrap:wrap;width:50%;}
#footcontributions h2{width:100%;text-align:center;}
.footcontribution{margin:20px;width:calc(50% - 40px);}
.footcontactinput{font-family:helvetica,sans-serif;background:#162D50;width:90%;color:white;padding:10px;margin-bottom:10px;border-radius:5px;border:solid 2px #060b14;}
.foottext{width:500px;max-width:95vw;text-align:justified;}
.foottextlink{float:right;padding:10px;color:#ff3333;cursor:pointer;}
.foottextlink:hover{color:red;text-decoration:underline;}
#footfoot{position:absolute;bottom:0;left:0;width:calc(100% - 20px);height: 50px;line-height: 50px;text-align:right;padding-right: 20px;background-color: #0B1628;border-top: solid 2px #091220;}
#footlogo{vertical-align: bottom;height: 95%;}

/*Mobile only*/
@media screen and (max-width: 420px){
	.footsociocon{width:40px;height:40px;margin:5px;}
	#footcontributions{width:100%;}
	.footcontribution{width:95vw;min-width:0!important;margin:0;}

}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	#popuplayer{display: none;position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;z-index: 100;opacity: 1;}
	#nav a{color: #0E1C32;}
	#nav a:visited{color: #0E1C32;}
	#nav_wrapper{font-size: 14px;background-color: #EAEAEA;color: #0E1C32;}
	#badge{position: absolute;top: 0;left: 10px;padding-left: 30px;}
	#navletter{display: none;}
	#nav{right: 40px;}
	#alphalogin{display: none;}
	#footer{padding:50px 20px;font-size:85%;}
	.foottext{min-width:calc(100% - 40px); margin:0;}
	#footcontributions{position:relative;width:100%;}
	.footcontribution{min-width:300px;}
}

/*Desktop*/
@media screen and (min-width: 966px){
	#nav a{color: #EAEAEA;}
	#nav a:visited{color: #EAEAEA;}
	#badge{display: none;}
	#alphalogin{position: fixed;left: 0;top: 50px;height: 50px;}
	#esform{position: fixed;top: 0;left: 450px;display: block;margin: 0 auto;width: 400px;}
	#footer{font-size:80%;padding:50px 5vw;}
	#footcontributions{position:absolute;right:calc(5vw - 20px);}
	.foottext{width:40%;margin-right:50%;margin-bottom:20px;}
}