html, body{margin: 0;padding: 0;min-height: 100%;width: 100%;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:150%;color:#0E1C32;font-size:95%;}
h1{text-align:center;margin:0;}
h2{text-align:center}
h3{margin-bottom:5px;}
.z-index-1{-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
.z-index-2{-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);box-shadow: 0px 0px 15px rgba(0,0,0,1);}

#nav ul{list-style:none;}
.quote{font-style:italic;}
.quote_author{float:right;}
#alphalogin{display:none;background-color: #33CCFF;color: white;font-size: 16px;font-weight:700;overflow: hidden;z-index:2;opacity:.9;}
#alphacall{height:50px;line-height:50px;padding:0 20px;}
#alphacall:hover{background-color:#5CD6FF;}
#alogform{padding:20px;}
#content{position:relative;min-height:95vh;z-index:1;}
#footer{position:relative;display:flex;flex-wrap:wrap;color:#EAEAEA;background-color: #0E1C32;z-index:3;border-top:solid1px #0B1628;}
#footer h2{color:#ff3333;text-align:left;}
#footer h3{color:#ff3333;margin-bottom:5px;}
#footer ul{list-style: none;padding-left: 0;}
#footbox_wrapper{position: relative;display: flex;margin: 20px;margin-bottom:0;background-color: #3F4C60;}
.footbox{}
#fboxmargin{position: absolute;bottom: 0;left: 0;width: 100%;height: 20px;background-color: #0E1C32;}
#footsocial{width:50%;max-width:95vw;}
#footsocioconline{display:flex;justif-content:space-between;}
.footsociocon{width:50px;height:50px;margin:20px;background:#162d50;}
.fb-like{width:50px;height:50px;margin:20px;background:#162d50;}
#footcontributions{display:flex;flex-wrap:wrap;width:50%;}
#footcontributions h2{width:100%;text-align:center;}
.footcontribution{margin:20px;width:calc(50% - 40px);}
.footcontactinput{font-family:helvetica,sans-serif;background:#162D50;width:90%;color:white;padding:10px;margin-bottom:10px;border-radius:5px;border:solid 2px #060b14;}
.foottext{width:500px;max-width:95vw;text-align:justified;}
.foottextlink{display:block;float:right;padding:10px;color:#ff3333;cursor:pointer;text-decoration:none;}
.foottextlink:hover{color:red;text-decoration:underline;}
#footfoot{position:absolute;bottom:0;left:0;width:calc(100% - 20px);height: 50px;line-height: 50px;text-align:right;padding-right: 20px;background-color: #0B1628;border-top: solid 2px #091220;}
#footlogo{vertical-align: bottom;height: 95%;}
/*About Styles*/
#about{padding-top:100px;}
#usnutshell{margin:0 auto;width:40vw;padding:100px;}
#ourgoals{width:70vw;margin:0 auto;}
#corebeliefs{width:70vw;margin:0 auto;}
#ourdata{width:70vw;margin:0 auto;}
#thecode{width:70vw;margin:0 auto;}
#codetenants{background:#EAEAEA;}
#opeeps{width:80vw;margin:0 auto;display:flex;flex-wrap:wrap;}
#opeeps h2{width:100%;}
.pimg{background:pink;width:100px;height:100px;float:left;}
.ptext{background:lavender;}
#founder{background-color:#EAEAEA;width:100%;padding:50px 10vh;}
.peep{width:calc(50% - 40px);padding:25px 20px;}
/*Sources Styles*/
#sources{background:#0E1C32;color:white;padding:100px 200px 50px 5vw;font-size:90%;z-index:1;}
#sources h2, h3, h4, h4{text-align:left}
#sources_nav{position:fixed;right:0;font-weight:bold;color:gainsboro;z-index:2;background:#0E1C32;}
#sources_nav ul{text-decoration:none;padding:0;margin:0;}
#sources_nav li{display:block;padding:5px;margin:2px;}
#sources_nav li:hover{text-decoration:underline;}
.source_section{position:relative;padding:50px 0;}
#sources .blurb{width:700px;max-width:100%;margin-bottom:50px;}
#sources .blurb h2,h3{margin-bottom:5px;}
#sourceimg_wrapper{position:relative;width:800px;max-width:100%;margin:0 auto;display:flex;justify-content:space-between;flex-wrap:wrap;}
#sourceimg{background:#162D50;margin:0 auto;width:150px;height:150px;}
#sourceimgtext{width:50%;min-width:275px;margin:0 auto;}
#ourdatatypes{display:flex;flex-wrap:wrap;justify-content:space-between;}
.ourdatatype{width:40%;min-width:275px;margin:20px auto;}
#sources .quote{padding:50px 100px;}
#citationintro{padding-bottom:50px;border-bottom:solid #214478 1px;}
.citation{padding:25px 0;border-bottom:solid #214478 1px;font-size:80%;}
.citation h3{color:white;}
/*Comments Styles*/
#comments_page{padding:100px 5vw;}


/*Mobile only*/
@media screen and (max-width: 520px){
	.footsociocon{width:40px;height:40px;margin:5px;}
	#footcontributions{width:100%;}
	.footcontribution{width:95vw;min-width:0!important;margin:0;}

	/*Sources Styles*/
	#sources{padding:100px 5vw 50px 5vw;}
	#sourceimgtext{width:80%;}
}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	#popuplayer{display:none;position:fixed;top:0;left:0;width:100vw;height:100vh;z-index:100;opacity:1;}
	#badge{position: fixed;top: 0;left: 0;width: 100vw;height: 50px;font-weight: bold;color: white;font-size: 125%;line-height: 50px;text-align: center;z-index: 50;font-family: 'Playball', cursive;}
	#logo{vertical-align: bottom;}
	#titlebar{position: fixed;top: 0;width: 100vw;height: 50px;background-color: darkred;z-index: 45;}
	#nav_expand{position: fixed;top: 0;left: 0;width: 50px;height: 50px;z-index: 60;}
	#pagenav_expand{position: fixed;top: 0;right: 0;width: 50px;height: 50px;line-height: 50px;text-align: center;z-index: 51;}
	#nav_close{position: relative;bottom: 0;left: 0;width: 100%;height: 40px;background-color: gainsboro;}
	#nav_container{position: fixed;left: 0;top: -100vh;width: 100vw;max-height: 100vh;background-color: white;z-index: 52;opacity: .95;overflow: auto;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
	.mexp{position: absolute;top: 5%;right: 0;width: 15%;height: 30px;text-align: center;font-size: 200%;z-index: 5;}
	#nav ul{margin: 0;padding: 0;}
	#nav ul li{position: relative;overflow: hidden;}
	#nav ul a{position: relative;display: block;width: 100vw;height: 40px;line-height: 40px;text-decoration: none;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: bold;color: darkred;text-align: center;}
	#nav ul ul{	}
	#nav ul ul a{font-size: 85%;background-color: gainsboro;}

	#pagenav{background-color: darkred;padding-top: 10px;padding-right: 10px;color: white;font-weight: bold;font-size: 85%;position: fixed;top: -100px;right: -10px;z-index: 5;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
	#pagenav ul{margin: 0;list-style: none;padding: 0;}
	#pagenav ul p{margin: 0;width: 200px;height: 30px;line-height: 30px;text-align: center;}
	#pagenav ul p:active{background:#A23333;}
	#footer{padding:50px 20px;}
	.foottext{min-width:calc(100% - 40px); margin:0;}
	#footcontributions{position:relative;width:100%;}
	.footcontribution{min-width:300px;}
	/*About Styles*/
	/*Sources Styles*/
}

/*Desktop*/
@media screen and (min-width: 966px){
	#nav_wrapper{font-size:16px;}
	#badge{position: fixed;top: 0;left: 0;padding-left: 45px;padding-right: 20px;height: 70px;line-height: 70px;font-weight: bold;color: white;z-index: 50;text-align: center;background-color: #0E1C32;border: solid 2px #122440;font-family: 'Playball', cursive;font-size: 115%;font-weight: bold;}
	#logo{position:absolute;height:90%;top:5%;left:2%;}
	#titlebar{position: fixed;left: 0;top: 10px;width: 100%;height: 32px;z-index: 0;background-color: white;border-top: solid darkred 10px;border-bottom: solid darkred 10px;z-index: 5;}
	#nav_container{position: fixed;top: 10px !important;padding-top: 10px !important;right: 10px !important;z-index: 30;}
	#nav_expand{display: none;}
	#nav_close{display: none;}
	#pagenav_expand{display: none;}
	.mexp{display: none;}
	#nav ul{list-style:none;position:relative;float:left;margin:0;padding:0;}
	#nav ul a{display:block;text-decoration:none;font-weight:700;padding: 0 15px;height: 32px !important;font-size:14px;height: 20px;line-height:32px;color: #162d50;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif}
	#nav ul a:hover{color: white;}
	#nav ul a:active{color: lightblue;}
	#nav ul li{position:relative;height: 32px !important;float:left;margin:0;padding:0;}
	#nav ul li.current-menu-item{}
	#nav ul li:hover{background-color: #A23333;}
	#nav ul ul{display:none;position:absolute;top:100%;left:0;background:#fff;padding:0;width: 100%;}
	#nav ul ul li{float:none;width: 100%;}
	#nav ul ul li:hover{background:white;}
	#nav ul ul a{line-height:32px;padding:0 15px;font-size: 12px;color: white;background-color: darkred;}
	#nav ul ul a:hover{background:#A23333;}
	#nav ul ul a:active{color:lightblue;}
	#nav ul ul ul{top:0;left:100%}
	#nav ul li:hover > ul{display:block}
	.subnav{-moz-box-shadow: 0px 0px 15px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,1);box-shadow: 0px 0px 15px rgba(0,0,0,1);}

	#pagenav{position: fixed;left: 0;top: 60px;width: 100vw;z-index: 4;}
	#pagenav ul{position: relative;margin: 0 auto;text-align: center;list-style: none;padding: 0;background-color: darkred;}
	#pagenav ul li{margin: 0;padding: 0;position: relative;display: inline-block;}
	#pagenav ul p{position: relative;margin: 0;padding: 0 15px;height: 32px;line-height: 32px;font-size: 12px;color: white;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700;background-color: darkred;}
	#pagenav ul p:hover{background:#A23333;}

	#alphalogin{position: fixed;left: 0;top: 50px;height: 50px;}
	#esform{position: fixed;top: 0;left: 450px;display: block;margin: 0 auto;width: 400px;}
	#footer{padding:50px 5vw;font-size:90%;}
	#footcontributions{position:absolute;right:calc(5vw - 20px);}
	.foottext{width:40%;margin-right:50%;margin-bottom:20px;}
	/*About Styles*/
	/*Sources Styles*/
}
/*Desktop*/
@media screen and (min-width: 966px){
	#nav_wrapper{font-size:16px;}
	#badge{}
	#alphalogin{position: fixed;left: 0;top: 50px;height: 50px;}
	#esform{position: fixed;top: 0;left: 450px;display: block;margin: 0 auto;width: 400px;}
	#footer{padding:50px 5vw;font-size:90%;}
	#footcontributions{position:absolute;right:calc(5vw - 20px);}
	.foottext{width:40%;margin-right:50%;margin-bottom:20px;}
	/*About Styles*/
	/*Sources Styles*/
}