{% extends "publicbase.html" %}

{% block content %}
<link rel='stylesheet' href='css/about.css'/>
<h1 id='title'>About</h1>
<p id='introtext'>
	Improve him believe opinion offered met and end cheered forbade. Friendly as stronger speedily by recurred. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. 
</p>

<div id='quotewrapper'>
	<div id='quote' >
		<div id='quoteimg'>
			<img id='mlkquoteimg' src='/images/mlkquote.jpg'><br>
		</div>
		<div id='quotetext'>
			"If you can't fly, then run, if you can't run, then walk, if you can't walk, then crawl, but whatever you do, you have to keep moving forward." - Martin Luther King Jr.
		</div>
	</div>
</div>

<div id='wwah'>
	<h2>Why We Are Here</h2>
	<div id='tcsmpg'>
		<div id='tcs'>
			<h3>The Current System</h3>
				Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say.
		</div>
		<div id='mpgimg'>
			This will be an image
		</div>
	</div>
	<div id='dot'>

	</div>
	<div id='patch'>
		<h3>The Patch</h3>
		Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say.
	</div>
</div>

<div id='bwnyh'>
	<h2>But We Need Your Help</h2>
	<p>
		Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say. Manners beloved affixed picture men ask. Explain few led parties attacks picture company. On sure fine kept walk am in it. Resolved to in believed desirous unpacked weddings together. Nor off for enjoyed cousins herself. Little our played lively she adieus far sussex. Do theirs others merely at temper it nearer. Son interest wandered sir addition end say.
	</p>
</div>

<div id='opeeps'>
	<h3>People of the Glass Capitol</h3>
	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
		this is the dummy text yo for all original fish
		</div>
	</div>

	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
			this is the dummy text yo for all original fish
		</div>
	</div>

	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
			this is the dummy text yo for all original fish
		</div>
	</div>

	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
			this is the dummy text yo for all original fish
		</div>
	</div>

	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
			this is the dummy text yo for all original fish
		</div>
	</div>

	<div class='peeps'>
		<div class='pimg'>imagedummy</div>
		<div class="ptext">
			this is the dummy text yo for all original fish
		</div>
	</div>
</div>
{% endblock %}