{% extends "publicbase.html" %}

{% block content %}
<div id='about'>
	<h1 id='title'>About Us</h1>

	<h3 id='usnutshell'>Started in 2015, we are a 6 person startup trying to fundamentally change our relationship with government</h3>
	<div id='ourgoals'>
		<h2>Our Goals</h2>
		We want to elevate the political debate in America and give anyone the power to affect national policy. Like most Americans, everyone on our team has at some point felt disenfranchised by our current politics. We’ve all seen issues we care about go unnoticed. We’ve all had moments where we couldn’t believe some of the things our political leaders say or think.  That is why all of us dedicated our skill, time, and passion to this project.
	</div>


	<div id='corebeliefs'>
		<h2>Our Core Beliefs</h2>
		<div id='quote'>
			“an enlightened citizenry is indispensable for the functioning of a republic”
			<div id='quoteauthor'>Thomas Jefferson</div>
		</div>
		<div id='statedcore'>
			We believe in the moral fiber of the American public. When more people have the power to know, check, and spread information about our government we will realize a better society. Throughout our history we consistently create a more inclusive, more peaceful, and more technologically advanced society. With TGC that ideal can continue to exist in the 21st century.
		</div>
	</div>

	<div id='ourdata'>
		<div id='easeofuse'>
			<h3>What Makes Our Data So Easy To Use?</h3>
			All the data in the world means nothing if you can’t draw conclusions from it. We pride ourselves in illuminating complicated issues so that anybody can understand them. We give everyone a holistic view of every facet of our government, along with the ability to comment on and share it.
		</div>
		<div id='datamethod'>
			<h2>Our method of analysis can be broken down into three main components</h2>
			<div id='' class='methodcomponent'>
				<h3>The Facts</h3>
				A clean and clear illustration of the facts surrounding an issue of part of government. How well does the current solution function? What is at stake? Who ultimately decides what will happen? Who stands to benefit from any changes.
			</div>

			<div id='' class='methodcomponent'>
				<h3>The Context</h3>
				Have things always been this way? How have we dealt with this issue in the past? How does it fit with American ideals?
			</div>

			<div id='' class='methodcomponent'>
				<h3>The Current Debate</h3>
				What are each party’s proposed solutions? Are there differences between the two parties and if so, what are they? Why hasn’t this issue been solved, or what are the main complaints about the current solution?
			</div>
		</div>
	</div>

	<div id='thecode'>
		<h2>How do we Stay True to our Mission?</h2>
		<h3>We are dedicated to informing the American people above all else</h3>
		That is why we created a code of operation. Our values are pure and we want to ensure that we hold ourselves accountable to them. 
		<div id='codetenants'>
			<ol>
				<li>
					This website will forever remain party and ideology independent
				</li>
				<li>
					We serve the Individual - one person one vote - we do not cater to private interests or corporations
				</li>
				<li>
					Any data users give us must first directly enhance the user’s experience and the quality of information available to them
				</li>
				<li>
					we do not raise funds through irrelevant advertisements because we believe it would be a harmful diversion from the true purposes of this website
				</li>
				<li>
					We maintain our database to provide only meaningful, accurate statistics which provide clarity to the user
				</li>
				<li>
					We provide users with the methodology and derivation behind every statistic on our site
				</li>
				<li>
					Statistics should provide the user fresh perspectives and ways of thinking about our government’s activity
				</li>
				<li>
					All quotes or statements that are factually inaccurate will be labeled as such. This includes scientifically false statements, and other things that can be proven objectively inaccurate. Though we aren’t a fact checking agency, we believe in holding our legislators to only the highest standard
				</li>
				<li>
					During election seasons any and all data regarding campaigns or historical trends in government function will be provided completely free of charge and accessible without even registering for our site
				</li>
				<li>
					If any users feel we have violated our code in any way we will provide a forum for discussion to resolve the issues as quickly as possible
				</li>
			</ol>
		</div>
	</div>

	<div id='opeeps'>
		<h2>People of the Glass Capitol</h2>
		<div id='founder' class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
			this is the dummy text yo for all original fish
			</div>
		</div>

		<div class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
				this is the dummy text yo for all original fish
			</div>
		</div>

		<div class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
				this is the dummy text yo for all original fish
			</div>
		</div>

		<div class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
				this is the dummy text yo for all original fish
			</div>
		</div>

		<div class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
				this is the dummy text yo for all original fish
			</div>
		</div>

		<div class='peep'>
			<div class='pimg'>imagedummy</div>
			<div class="ptext">
				this is the dummy text yo for all original fish
			</div>
		</div>
	</div>
</div>
{% endblock %}