<!DOCTYPE html>
  <html>
    <head>
      <title>The Glass Capitol</title>
      <link rel='stylesheet' href='css/admin.css'/>
      <!--Import materialize.css-->
      <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Alex+Brush|Parisienne|UnifrakturCook:700|UnifrakturMaguntia|Cookie|Playball' rel='stylesheet' type='text/css'>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
      <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    </head>

  <body>
    <div id='gate'>
      <form method="post" name="signup" id='signup_form' onsubmit="javascript:gateway();return false;">
        What's the Secret?
        <input id='secret' type='text' name='secret'>
        <input id='gatebutton' type='button' value='submit' onclick="javascript:gateway();return false;">
      </form>
    </div>

    <h1>The Glass Capitol: Administrators Only</h1>
    <h2>Create Your Administrator Account Here</h2>
    <form method="post" name="signup" id='signup_form' onsubmit="javascript:submitSign();return false;">
      Administration Username:<br>
      <input id='username' type="text" name="username"><br>
      Email:<br>
      <input id='email' type="text" name="email"><br>
      Password:<br>
      <input id='password' type="text" name="password"><br>
      Confirm Password:<br>
      <input id='confirmpass' type="text" name="confirmpass"><br>
      <input id='subbutton' type='button' value='submit' onclick="javascript:submitSign();return false;">
    </form>
   
    <script type="text/javascript" src="/js/admin.js"></script>
  </body>