{% extends "newbase.html" %}
{% block pagenav %}
<input type='hidden' id="page-statename" value="{{hrstatename}}">
<div id='pagenav'>
	<!--<div class='pagenav-option' onclick="javascript:tabSwitcher('basicinfo','election_info');return false;">Election Info</div>-->
	<div class='pagenav-option' onclick="javascript:tabSwitcher('standings','election_standings');return false;">Current Standings</div>
	<div class='pagenav-option' onclick="javascript:tabSwitcher('candidates','election_candidates');return false;">Candidates</div>
	<div class='pagenav-option' onclick="javascript:tabSwitcher('primaries','election_primaries');return false;">Primaries</div>
</div>
{% endblock %}

{% block content %}
<link rel='stylesheet' href='css/demo.css'/>
<script type="text/javascript" src="/js/demo.js"></script>

<!--<div id='basicinfo' class='tab t1'>
<div class='tab-content'>
	<div class='incomplete-tab'>
		<div class='incomp-tab incomp-pre'>
			<h1 class='incomptab-title'>This section can only be viewed by our currrent members</h1>
			<h2>TGC is currently in development and we're looking for new testers</h2>
			<ul>
				<li>Get exclusive access to new features</li>
				<li>Stay up to date with development</li>
				<li>Direct contact our team so we can make the best possible service for you</li>
			</ul>
			<form id='esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
				<input type='text' name='esfemail' id='esfemail' class='medium-text-input' placeholder='Enter Email'>
				<div id='esfsubmit' class='bluebutton button' onclick="javascript:submitESF();return false;">Become a tester now</div>
			</form>
		</div>
		<div class='incomp-tab incomp-post'>
			<h2>Thanks for signing up! We just sent you an email</h2>
		</div>
	</div>
</div>
</div>-->

<div id='standings' class='tab t1'>
<div class='tab-content'>
	<div class='party-columns'>
		<div class='party-colums-head'>
			<h1 class='pc-title'>Primary Results</h1>
			<div class='pc-dem-title pc-section-title' onclick="javascript:drSwitcher('.dpc');return false;">DEMOCRATS</div>
			<div class='pc-repub-title pc-section-title' onclick="javascript:drSwitcher('.rpc');return false;">REPUBLICANS</div>
		</div>

		<div class='pc-content-wrapper'>
			<div class='dpc party-column'>
				<div class='whiteback'>
					<div class='cstanding-basicinfo'>
						<!--<h3>Delegates won</h3>-->
						2,383 needed for nomination out of 4,762 total<br>
						3,136 delegates remaining
					</div>
					<div id='dstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
					<div class='cstanding-processinfo'>
						<h3>Graph Key</h3>
						<div class='key_wrapper'>
							<div class='coloredkey' style='background:#1a53ff;'></div>
							<b>85% - Pledged Delegates: </b>&nbsp;Delegates that vote according to their primary results
						</div>
						<div class='key_wrapper'>
							<div class='coloredkey' style='background:#809fff;'></div>
							<b>15% - Superdelegates: </b>&nbsp;Delegates that can cast their vote for any candidate 
						</div>
					</div>
				</div>
				<div id='form_wrapper'>
					<form id='graph-form' method='post'>
						<div id='form-one'>
							<div id='length_title'>Select Time Length (Shorter -> Longer): </div>
							<div id='smoothness_wrapper'><input id='timelength' type="range" min="0" max="100" value="0" step="25" /></div>
						</div>
						<div id='form-two'>
							<div id='smooth_title'>Select Line Smoothness (Less -> More Smooth): </div>
							<div id='timelength_wrapper'><input id='smoothness' type="range" min="0" max="100" value="25" step="25" /></div>
						</div>
						<div id='graph_submit_wrapper'><input id='graph_submit' type="button" onclick="javascript:submitGraph();return false;" value='Submit'></div>
					</form>
				</div>
				<div class='dpoll whiteback'>
					<div id='dpoll-graph-wrapper' class='cstanding-graph-wrapper2'></div>
				</div>
			</div>
			<div class='rpc party-column'>
				<div class='whiteback'>
					<div class='cstanding-basicinfo'>
						<!--<h3>Delegates won</h3>-->
						1,237 needed for nomination out of 2,472 total<br>
						1,585 delegates remaining
					</div>
					<div id='rstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
					<div class='cstanding-processinfo'>
						<h3>Graph Key</h3>
						<div class='key_wrapper'>
							<div class='coloredkey' style='background:#cc0000;'></div>
							<b>~94% - Bound delegates: </b>&nbsp;vote according to their state’s primary results
						</div>
						<div class='key_wrapper'>
							<div class='coloredkey' style='background:#cc0000;'></div>
							<b>~6% - Unbound delegates: </b>&nbsp;can switch candidates, regardless of their state’s primary results
						</div>
					</div>
				</div>
				<div id='form_wrapper'>
					<form id='graph-form' method='post'>
						<div id='form-one'>
							<div id='length_title'>Select Time Length (Shorter -> Longer): </div>
							<div id='smoothness_wrapper'><input id='timelength' type="range" min="0" max="100" value="0" step="25" /></div>
						</div>
						<div id='form-two'>
							<div id='smooth_title'>Select Line Smoothness (Less -> More Smooth): </div>
							<div id='timelength_wrapper'><input id='smoothness' type="range" min="0" max="100" value="25" step="25" /></div>
						</div>
						<div id='graph_submit_wrapper'><input id='graph_submit' type="button" onclick="javascript:submitGraph();return false;" value='Submit'></div>
					</form>
				</div>
				<div class='rpoll whiteback'>
					<div id='rpoll-graph-wrapper' class='cstanding-graph-wrapper2'></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div id='candidates' class='tab t2'>
<div class='tab-content'>
	<div class='party-columns'>
		<div class='party-colums-head'>
			<h1 class='pc-title'>Presidential Candidates</h1>
			<div class='pc-dem-title pc-section-title' onclick="javascript:drSwitcher('.dpc');return false;">DEMOCRATS</div>
			<div class='pc-repub-title pc-section-title' onclick="javascript:drSwitcher('.rpc');return false;">REPUBLICANS</div>
		</div>
		<div class='pc-content-wrapper'>
			<div class='dpc party-column'>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>Bernie Sanders</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/bernie.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						Senator, United States Senate, 2006-present
						Representative, United States House of Representatives, 1990-2006
						Mayor, City of Burlington, 1981-1989
						Candidate, United States House of Representatives, 1988
						Candidate, Governor of Vermont, 1972, 1976, 1986
						Candidate, United States Senate, 1972, 1974
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/BernieSanders" data-widget-id="706551623359799298">Tweets by @BernieSanders</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>Hilldog</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/hilldog.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						United States Secretary of State, 2009-2013
						Sworn In, United States Secretary of State, January 21, 2009
						Senator, United States Senate, 2001-2009
						Candidate, United States President, 2008
						First Lady, President Bill Clinton, 1993-2001
						First Lady, State of Arkansas, 1979-1981, 1983-1992
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/HillaryClinton" data-widget-id="706552937024249856">Tweets by @HillaryClinton</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
			<div class='rpc party-column'>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>Donald Trump</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/drumpf.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						Fucking nothing
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/realDonaldTrump" data-widget-id="706553481159647233">Tweets by @realDonaldTrump</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>The Cruzinator</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/cruz.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						Senator, United States Senate, 2012-present
						Domestic Policy Advisor, Bush Presidential Campaign, 1999-2000
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/tedcruz" data-widget-id="706553936883412993">Tweets by @tedcruz</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>Marco Rubio</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/marco.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						Senator, United States Senate, 2011-present
						Representative, Florida State House of Representatives, 2000-2008
						Speaker, Florida State House of Representatives, 2006-2008
						Majority Leader, Florida State House of Representatives, 2003-2006
						Commissioner, City of West Miami, 1998-2000
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/marcorubio" data-widget-id="706554236675424260">Tweets by @marcorubio</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
				<div class='candidate-wrapper whiteback'>
					<h2 class='candidate-name'>John Kasich</h2>
					<div class='candidate-img-wrapper'>
						<img class='candidate-img' src='/images/candidates/kasich.png' alt='...'>
					</div>
					<div class='candidate-info-wrapper'>
						<h3>Political Experience</h3>
						Governor, State of Ohio, 2010-present
						Representative, United States House of Representatives, 1983-2000
						Candidate, United States President, 2000
						Ohio State Senate, 1979-1983
					</div>
					<div class='candidate-tw-wrapper'>
						<a class="twitter-timeline" href="https://twitter.com/JohnKasich" data-widget-id="706554419916234753">Tweets by @JohnKasich</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div id='primaries' class='tab t3'>
<div class='tab-content'>
	<h1 class='tab-title'>Map</h1>
	<div id='primary-map' class='whiteback'>Where the map will go</div>
	<div class='primary-data-wrapper whiteback'>
		<div id='state-select-wrapper'>
			Select State:
			<select id='state-dropdown' onclick="javascript:selectState()">
				{% for p in pinfo %}
				<option class='' value="{{p.name}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		{% for p in pinfo %}
		<div id='{{p.name}}-data-wrapper' class='state-data-wrapper' value='{{p.gedelegates}}'>
			<h2>{{p.name}}</h2>
			<h3>Primary Date: <span class='fade-2'>{{p.ddate}}</span></h3>
			<div class='pdata-columns'>
				<div class='pdata-dem pdata-section'>
					<h3>State Democratic Primary</h3>
					<a href='{{p.rlink}}' target='blank' class='bluebutton registerbutton'>Register Here!</a>
					<h3>{{p.ddelegates}} primary delegates</h3>
					<div>XX {{p.dpledged}} and {{p.dsuper}} superdelegates</div>
					<div class='primary-poll-graph-wrapper whiteback'>This is where the graph goes</div>
				</div>
				<div class='pdata-repub pdata-section'>
					<h3>State Republican Primary</h3>
					<a href='{{p.rlink}}' target='blank' class='redbutton registerbutton'>Register Here!</a>
					<h3>{{p.rdelegates}} primary delegates</h3>
					<div class='primary-poll-graph-wrapper whiteback'>This is where the graph goes</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>

<div id='back-to-top' onclick="javascript:scrollTo('top');return false;">Back To Top</div>

<script>
	var FUNCTIONS = [];
	var tostandings = 0;
	var tocandidates = 0;
	var toprimaries = 0;
	var tomap = 0;
	/*FUNCTIONS['election_info'] = function () { 
		scroller('basicinfo','tab')
		if (tomap == 0){
			//google.charts.setOnLoadCallback(election_map);
			tomap++;
		}
	};*/
	FUNCTIONS['election_standings'] = function () { 
		scroller('standings','tab')
		if (tostandings == 0){
			google.charts.setOnLoadCallback(election_standings);
			tostandings++;
		}
	};
	FUNCTIONS['election_candidates'] = function () { 
		scroller('candidates','tab')
		if (tocandidates == 0){
			google.charts.setOnLoadCallback(election_candidates);
			tocandidates++;
		}
	};
	FUNCTIONS['election_primaries'] = function () { 
		scroller('primaries','tab')
		if (toprimaries == 0){
			google.charts.setOnLoadCallback(election_primaries);
			toprimaries++;
		}
	};

	function selectState(){
		var id = $('#state-dropdown :selected').text()+'-data-wrapper'
		scroller(id,'state-data-wrapper')
	}

	function election_standings(){
		$.post('/vishandle', {'visualization':'dpresults'},function(data){
			chart_data = $.parseJSON(data);
			drawBarChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'rpresults'},function(data){
			chart_data = $.parseJSON(data);
			drawBarChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'dnpolls'},function(data){
			chart_data = $.parseJSON(data);
			drawLineChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'rnpolls'},function(data){
			chart_data = $.parseJSON(data);
			drawLineChart(chart_data)
		})
		drawPrimaryMap()
	}
	function election_candidates(){
		console.log('nothing')
	}
	function election_primaries(){
		drawPrimaryMap()
	}
	function drawPrimaryMap(){
		var dataa = [['state','Delegates']]
		$('.state-data-wrapper').each(function(i){
			name = $(this).attr('id').split('-')[0]
			total = $(this).attr('value')
			t = [name,total]
			dataa.push(t)
		})
		var data = google.visualization.arrayToDataTable(dataa)
		var geochart = new google.visualization.GeoChart(
      		document.getElementById('primary-map'));
  			geochart.draw(data, {region: "US", resolution: "provinces",colors:[0xFF8747, 0xFFB581, 0xc06000]});
	}
	function drawBarChart(d) {
		console.log(d['data'])
	    var chart1_data = new google.visualization.DataTable(d['data']);
	    var chart1_options = {
	        title: d['title'],
	        legend: 'none',
	    };

	    var chart1_chart = new google.visualization.ColumnChart(document.getElementById(d['element']));
	    chart1_chart.draw(chart1_data, chart1_options);
	}
	function drawLineChart(d){
		console.log(d['data'])
	    var chart1_data = new google.visualization.DataTable(d['data']);
	    var chart1_options = {
	        title: d['title'],
	    };

    var chart1_chart = new google.visualization.LineChart(document.getElementById(d['element']));
    chart1_chart.draw(chart1_data, chart1_options);
	}

	$( document ).ready(function() {
		google.charts.load('current', {'packages':['corechart']});
	    startState('election_')
	    drSwitcher('.dpc')
	});
</script>

<style>
.candidate-wrapper{padding:25px;display:flex;flex-wrap:wrap;justify-content:center;margin-bottom:50px;}
.candidate-name{width:100%;margin:0 0 15px 0;padding-bottom:10px;border-bottom:solid 1px #d9d9d9;}
.candidate-img-wrapper{width:calc(25% - 26px);margin-right:25px;height:200px;border-right:solid 1px #d9d9d9;}
.candidate-img{display:block;height:100%;border-radius:50%;}
.candidate-info-wrapper{width:75%;}
.candidate-tw-wrapper{width:80%;margin:20px auto;height:400px;}
.cstanding-graph-wrapper{height:300px;margin:0 20px;border-bottom:solid 1px #d9d9d9;}
.cstanding-graph-wrapper2{height:400px;margin:0 20px;border-bottom:solid 1px #d9d9d9;}
.primary-data-wrapper{position:relative;padding:25px;}
#primary-map{height:60vw;max-height:725px;margin-bottom:50px;}
.pdata-columns{margin-top:20px;position:relative;display:flex;justify-content:space-between;}
.pdata-section{width:calc(50% - 25px);}
.registerbutton{width:200px;padding:15px 0;border-radius:10px;text-align:center;font-weight:bold;}
.primary-poll-graph-wrapper{height:300px;}
.state-data-wrapper{display:none;}

.party-column-title{text-align:center;}
.key_wrapper{display:flex;margin-bottom:5px;}
.coloredkey{width:20px;height:20px;margin-right:5px;}
</style>
{% endblock %}