{% extends "newbase.html" %}
{% block pagenav %}
<input type='hidden' id="page-statename" value="{{hrstatename}}">
<div id='pagenav'>
	<div class='pagenav-option' onclick="javascript:tabSwitcher('standings','election_standings');return false;">Current Standings</div>
	<div class='pagenav-option' onclick="javascript:tabSwitcher('candidates','election_candidates');return false;">Candidates</div>
	<div class='pagenav-option' onclick="javascript:tabSwitcher('map','election_map');return false;">Map</div>
</div>
{% endblock %}

{% block content %}
<link rel='stylesheet' href='css/demo.css'/>
<script type="text/javascript" src="/js/demo.js"></script>

<div id='display-tab'>
	This is the display tab
</div>

<div id='standings' class='tab t1'>
<div class='tab-content'>
	<h1 class='tab-title'>The 2016 Election</h1>
	<div class='cstandings-wrapper'>
		<h1 class='cstandings-title'>Current Standings</h1>
		<div class='dstandings cstanding'>
			<h2 class='cstanding-title'>Democratic Primary</h2>
			<div class='cstanding-basicinfo'>
				<!--<h3>Delegates won</h3>-->
				2,383 needed for nomination out of 4,762 total<br>
				3,286 delegates remaining
			</div>
			<div id='dstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
			<div class='cstanding-processinfo'>
				<h3>Graph Key</h3>
				<b>85% - Pledged Delegates:</b> Delegates that vote according to their primary results<br>
				<b>15% - Superdelegates:</b> Delegates that can cast their vote for any candidate 
			</div>
		</div>
		<div class='rstandings cstanding'>
			<h2 class='cstanding-title'>Republican Primary</h2>
			<div class='cstanding-basicinfo'>
				<!--<h3>Delegates won</h3>-->
				1,237 needed for nomination out of 2,472 total<br>
				1,777 delegates remaining
			</div>
			<div id='rstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
			<div class='cstanding-processinfo'>
				<h3>Graph Key</h3>
				<b>93% - Bound delegates:</b> vote according to their state’s primary results<br>
				<b>7% - Unbound delegates:</b>  can switch candidates, regardless of their state’s primary results
			</div>
		</div>
		<div id='learn_button_wrapper'>
			<span id='learnmore' class='dformbutton' onclick="javascript:learnMore();return false;">Learn More About The Election Process</span>
		</div>
		<h1 class='cstandings-title'>Current National Polls</h1>
		<div id='form_wrapper'>
			<form id='graph-form' method='post'>
				<div id='form-one'>
					<div id='length_title'>Select Time Length (Shorter -> Longer): </div>
					<div id='smoothness_wrapper'><input id='timelength' type="range" min="0" max="100" value="0" step="25" /></div>
				</div>
				<div id='form-two'>
					<div id='smooth_title'>Select Line Smoothness (Less -> More Smooth): </div>
					<div id='timelength_wrapper'><input id='smoothness' type="range" min="0" max="100" value="25" step="25" /></div>
				</div>
				<div id='graph_submit_wrapper'><input id='graph_submit' type="button" onclick="javascript:submitGraph();return false;" value='Submit'></div>
			</form>
		</div>
		<div class='dpoll cstanding'>
			<h2 class='cstanding-title'>Democrats</h2>
			<div id='dpoll-graph-wrapper' class='cstanding-graph-wrapper2'></div>
		</div>
		<div class='rpoll cstanding'>
			<h2 class='cstanding-title'>Republicans</h2>
			<div id='rpoll-graph-wrapper' class='cstanding-graph-wrapper2'></div>
		</div>
	</div>
</div>
</div>

<div id='candidates' class='tab t2'>
<div class='tab-content'>
	<div class='incomplete-tab'>
		<div class='incomp-tab incomp-pre'>
			<h1 class='incomptab-title'>This section can only be viewed by our currrent members</h1>
			<h2>TGC is currently in development and we're looking for new testers</h2>
			<ul>
				<li>Get exclusive access to new features</li>
				<li>Stay up to date with development</li>
				<li>Direct contact our team so we can make the best possible service for you</li>
			</ul>
			<form id='esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
				<input type='text' name='esfemail' id='esfemail' class='medium-text-input' placeholder='Enter Email'>
				<div id='esfsubmit' class='bluebutton button' onclick="javascript:submitESF();return false;">Become a tester now</div>
			</form>
		</div>
		<div class='incomp-tab incomp-post'>
			<h2>Thanks for signing up! We just sent you an email</h2>
		</div>
	</div>
</div>
</div>

<div id='map' class='tab t3'>
<div class='tab-content'>
	<h1 class='tab-title'>Map</h1>
	<div id='primary-map' class='whiteback'>Where the map will go</div>
	<div class='primary-data-wrapper whiteback'>
		<div id='state-select-wrapper'>
			Select State:
			<select id='state-dropdown' onclick="javascript:selectState()">
				{% for p in pinfo %}
				<option class='' value="{{p.name}}">{{p.name}}</option>
				{% endfor %}
			</select>
		</div>
		{% for p in pinfo %}
		<div id='{{p.name}}-data-wrapper' class='state-data-wrapper' value='{{p.gedelegates}}'>
			<h2>{{p.name}}</h2>
			<h3>Primary Date: <span class='fade-2'>{{p.ddate}}</span></h3>
			<div class='pdata-columns'>
				<div class='pdata-dem pdata-section'>
					<h3>State Democratic Primary</h3>
					<a href='{{p.rlink}}' target='blank' class='bluebutton registerbutton'>Register Here!</a>
					<h3>{{p.ddelegates}} primary delegates</h3>
					<div>XX {{p.dpledged}} and {{p.dsuper}} superdelegates</div>
					<div class='primary-poll-graph-wrapper whiteback'>This is where the graph goes</div>
				</div>
				<div class='pdata-repub pdata-section'>
					<h3>State Republican Primary</h3>
					<a href='{{p.rlink}}' target='blank' class='redbutton registerbutton'>Register Here!</a>
					<h3>{{p.rdelegates}} primary delegates</h3>
					<div class='primary-poll-graph-wrapper whiteback'>This is where the graph goes</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>

<div id='back-to-top' onclick="javascript:scrollTo('top');return false;">Back To Top</div>

<script>
var FUNCTIONS = [];
var tostandings = 0;
var tocandidates = 0;
var tomap = 0;
FUNCTIONS['election_standings'] = function () { 
	scroller('standings','tab')
	if (tostandings == 0){
		google.charts.setOnLoadCallback(election_standings);
		tostandings++;
	}
};
FUNCTIONS['election_candidates'] = function () { 
	scroller('candidates','tab')
	if (tocandidates == 0){
		google.charts.setOnLoadCallback(election_candidates);
		tocandidates++;
	}
};
FUNCTIONS['election_map'] = function () { 
	scroller('map','tab')
	if (tomap == 0){
		google.charts.setOnLoadCallback(election_map);
		tomap++;
	}
};

	function selectState(){
		var id = $('#state-dropdown :selected').text()+'-data-wrapper'
		scroller(id,'state-data-wrapper')
	}

	function election_standings(){
		$.post('/vishandle', {'visualization':'dpresults'},function(data){
			chart_data = $.parseJSON(data);
			drawBarChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'rpresults'},function(data){
			chart_data = $.parseJSON(data);
			drawBarChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'dnpolls'},function(data){
			chart_data = $.parseJSON(data);
			drawLineChart(chart_data)
		})
		$.post('/vishandle', {'visualization':'rnpolls'},function(data){
			chart_data = $.parseJSON(data);
			drawLineChart(chart_data)
		})
		drawPrimaryMap()
	}
	function election_candidates(){
		console.log('nothing')
	}
	function election_map(){
		drawPrimaryMap()
	}
	function drawPrimaryMap(){
		var dataa = [['state','Delegates']]
		$('.state-data-wrapper').each(function(i){
			name = $(this).attr('id').split('-')[0]
			total = $(this).attr('value')
			t = [name,total]
			dataa.push(t)
		})
		var data = google.visualization.arrayToDataTable(dataa)
		var geochart = new google.visualization.GeoChart(
      		document.getElementById('primary-map'));
  			geochart.draw(data, {region: "US", resolution: "provinces",colors:[0xFF8747, 0xFFB581, 0xc06000]});
	}
	function electionScroller(){
		scroller('standings','tab')
		if (toelection == 0){
			google.charts.load('current', {'packages':['corechart']});
			//google.charts.setOnLoadCallback(loadData);
			toelection++;
		}
	}
	function drawBarChart(d) {
		console.log(d['data'])
	    var chart1_data = new google.visualization.DataTable(d['data']);
	    var chart1_options = {
	        title: d['title'],
	    };

	    var chart1_chart = new google.visualization.ColumnChart(document.getElementById(d['element']));
	    chart1_chart.draw(chart1_data, chart1_options);
	}
	function drawLineChart(d){
		console.log(d['data'])
	    var chart1_data = new google.visualization.DataTable(d['data']);
	    var chart1_options = {
	        title: d['title'],
	    };

    var chart1_chart = new google.visualization.LineChart(document.getElementById(d['element']));
    chart1_chart.draw(chart1_data, chart1_options);
}

$( document ).ready(function() {
	google.charts.load('current', {'packages':['corechart']});
    startState('election_')
});
</script>

<style>
.cstanding-graph-wrapper{height:300px;margin:0 20px;border-bottom:solid 1px #d9d9d9;}
.cstanding-graph-wrapper2{height:400px;margin:0 20px;border-bottom:solid 1px #d9d9d9;}
.primary-data-wrapper{position:relative;padding:25px;}
#primary-map{height:60vw;max-height:725px;margin-bottom:50px;}
.pdata-columns{margin-top:20px;position:relative;display:flex;justify-content:space-between;}
.pdata-section{width:calc(50% - 25px);}
.registerbutton{width:200px;padding:15px 0;border-radius:10px;text-align:center;font-weight:bold;}
.primary-poll-graph-wrapper{height:300px;}
.state-data-wrapper{display:none;}
</style>
{% endblock %}