{% extends "publicbase.html" %}

{% block content %}
<div id='feedback'>
  <h1>Help Us Improve</h1>
  <h2>We want you to get the most possible out of our site</h2>

  <div id='feedbackform-wrapper' class='z-index-1' value='500'>
    <div id='formdisplay'style='height:400px'>
      <form id='feedback-form'>
      <input type='button' value='submit' id='esfsubmit' class='z-depth-1 dformbutton' onclick="javascript:submitFeedback();return false;">
      </form>
    </div>
    <div id='formcontrols'>
      <div id='form-left-button' class='form-direction' onclick="javascript:feedbackScroll('left');return false;">Previous</div>
      <div id='form-position-indicator'>
        <div id='fpi-0' class='fpi' onclick="javascript:feedbackScroll('n','0');return false;"style='background:#0E1C32'></div>
        <div id='fpi-1' class='fpi' onclick="javascript:feedbackScroll('n','1');return false;"></div>
        <div id='fpi-2' class='fpi' onclick="javascript:feedbackScroll('n','2');return false;"></div>
        <div id='fpi-3' class='fpi' onclick="javascript:feedbackScroll('n','3');return false;"></div>
        <div id='fpi-4' class='fpi' onclick="javascript:feedbackScroll('n','4');return false;"></div>
      </div>
      <div id='form-left-button' class='form-direction' onclick="javascript:feedbackScroll('right');return false;">Next/Skip</div>
    </div>
  </div>
        
</div>

<style>
  #feedback{text-align:center;padding-top:80px;}
  #feedbackform-wrapper{margin:50px auto;width:1000px;max-width:80vw;background:white;}
  #formcontrols{position:relative;display:flex;justify-content:space-between;border-top:solid 1px #0E1C32;}
  .form-direction{background:#0E1C32;color:white;padding:20px;width:100px;font-weight:bold;cursor:pointer;}
  .form-direction:hover{background:#162D50;}
  #form-position-indicator{margin:0 auto;}
  .fpi{position:relative;display:inline-block;height:19px;width:19px;border-radius:50%;border:solid 2px #0E1C32;margin:20px 20px 0 20px;}
</style>

<script>
  //helper function to reset all position indicators
  function indicatorColor(i){
    $('.fpi').each(function(index){$(this).css('background','white')})
    $('#fpi-'+i).css('background','#0E1C32')
  }
  function feedbackScroll(direction, newpos){
    if(newpos){
      np = parseInt(newpos) + 500
      $('#feedbackform-wrapper').attr('value', np)
      indicatorColor(newpos)

    }else{
      current = Math.abs($('#feedbackform-wrapper').attr('value'))
      if(direction == 'left'){newd = current - 1;}
      else{newd = current + 1}
      $('#feedbackform-wrapper').attr('value', newd)
      c = newd % 5
      console.log(c)
      indicatorColor(c)
    }
  }

  function submitFeedback(){
    console.log('submitting feedback')
  }
</script>


{% endblock %}