{% extends "newbase.html" %}
{% block content %}
<input type='hidden' id="page-statename" value="{{hrstatename}}">
<div id='pagenav'>
	<div id='personalize-option' class='pagenav-option' onclick="javascript:scroller('news', 'tab');return false;">News</div>
	<div id='partycomp-option' class='pagenav-option' onclick="javascript:scroller('election','tab');return false;">2016 Election</div>
	<div id='currentpolls-option' class='pagenav-option' onclick="javascript:scroller('reps','tab');return false;">My Representatives</div>
</div>

<div id='news' class='tab'>
	<h1 class='tab-title'>Current News</h1>
		<div class='incomplete-tab'>
		<div class='incomp-tab incomp-pre'>
			<h1 class='incomptab-title'>This section can only be viewed by our currrent members</h1>
			<h2>TGC is currently in development and we're looking for new testers</h2>
			<ul>
				<li>Get exclusive access to new features</li>
				<li>Stay up to date with development</li>
				<li>Direct contact our team so we can make the best possible service for you</li>
			</ul>
			<form id='esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
				<input type='text' name='esfemail' id='esfemail' class='medium-text-input' placeholder='Enter Email'>
				<div id='esfsubmit' class='bluebutton button' onclick="javascript:submitESF();return false;">Become a tester now</div>
			</form>
		</div>
		<div class='incomp-tab incomp-post'>
			<h2>Thanks for signing up! We just sent you an email</h2>
		</div>
	</div>
</div>

<div id='election' class='tab'>
	<h1 class='tab-title'>The 2016 Election</h1>
	<div class='cstandings-wrapper'>
		<h1 class='cstandings-title'>Current Standings</h1>
		<div class='dstandings cstanding'>
			<h2 class='cstanding-title'>Democrats</h2>
			<div class='cstanding-basicinfo'>
				<h3>Delegates won</h3>
				2,383 needed for nomination out of 4,189 total
			</div>
			<div id='dstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
			<div class='cstanding-processinfo'>
				<h3>The Process</h3>
				The Democratic primary has two types of delegates that are awarded to the candidates<br><br>
				<b>Pledged Delegates:</b> Delegates that vote with primary election results<br>
				<b>Superdelegates:</b> Delegates that do not vote with primary election results
			</div>
		</div>
		<div class='rstandings cstanding'>
			<h2 class='cstanding-title'>Republicans</h2>
			<div class='cstanding-basicinfo'>
				<h3>Delegates won</h3>
				1,237 needed for nomination out of 2,340 total
			</div>
			<div id='rstanding-graph-wrapper' class='cstanding-graph-wrapper'></div>
			<div class='cstanding-processinfo'>
				<h3>The Process</h3>
				The Republican primary only has pledged delegates that vote as per the primary election, unlike the Democratic primary.
			</div>
		</div>
	</div>
</div>

<div id='reps' class='tab'>
	<h1 class='tab-title'>Your Representatives</h1>
		<div class='incomplete-tab'>
		<div class='incomp-tab incomp-pre'>
			<h1 class='incomptab-title'>This section can only be viewed by our currrent members</h1>
			<h2>TGC is currently in development and we're looking for new testers</h2>
			<ul>
				<li>Get exclusive access to new features</li>
				<li>Stay up to date with development</li>
				<li>Direct contact our team so we can make the best possible service for you</li>
			</ul>
			<form id='esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
				<input type='text' name='esfemail' id='esfemail' class='medium-text-input' placeholder='Enter Email'>
				<div id='esfsubmit' class='bluebutton button' onclick="javascript:submitESF();return false;">Become a tester now</div>
			</form>
		</div>
		<div class='incomp-tab incomp-post'>
			<h2>Thanks for signing up! We just sent you an email</h2>
		</div>
	</div>
</div>

<div id='back-to-top' onclick="javascript:scrollTo('top');return false;">Back To Top</div>

<script>
var dpresults;
var rpresults;
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(loadData);
function loadData(){
	$.post('/vishandle', {'visualization':'dpresults'},function(data){
		chart_data = $.parseJSON(data);
		drawChart(chart_data)
	})
}
function drawChart(d) {
	console.log(d['data'])
    var chart1_data = new google.visualization.DataTable(d['data']);
    var chart1_options = {
        title: d['title']
    };

    var chart1_chart = new google.visualization.BarChart(document.getElementById(d['element']));
    chart1_chart.draw(chart1_data, chart1_options);
}
</script>

<style>
.cstandings-wrapper{display:flex;flex-wrap:wrap;border:solid 2px #eee;}
.cstandings-title{width:100%;text-align:center;}
.cstanding{width:calc(50% - 1px);}
.cstanding-title{text-align:center;margin:0;padding:20px 0;border-bottom:solid 2px #eee;border-top:solid 2px #eee;}
.cstanding-basicinfo{padding:20px;}
.cstanding h3{margin:0 0 10px 0;}
.dstandings{border-right:solid 1px #eee;}
.rstandings{border-left:solid 1px #eee;}
.cstanding-graph-wrapper{height:300px;margin:0 20px;border-bottom:solid 1px #d9d9d9;}
.cstanding-processinfo{margin:20px;}
</style>
{% endblock %}