{% extends "publicbase.html" %}

{% block content %}
<div id='interactivesnav'>
	<div id='top-option' class='inav-option' onclick="javascript:scrollTo('top');return false;">Top</div>
	<div id='personalize-option' class='inav-option' onclick="javascript:scrollTo('myreps_wrapper');return false;">Personalized Connection</div>
	<div id='partycomp-option' class='inav-option' onclick="javascript:scrollTo('pcomp_wrapper');return false;">Party Comparison</div>
	<div id='currentpolls-option' class='inav-option' onclick="javascript:scrollTo('polls_wrapper');return false;">Current Polls</div>
</div>

	<script type="text/javascript" src="/js/vprop.js"></script>
	<div id='opening'>
		<img id='centerpiece' src='/images/fullglasscapitol.png' alt='...'>
		<h1>Government Transparency At Its Finest</h1>
		<h2>All the facts to inform us and a network to unite us</h2>
	</div>

	<div id='myreps_wrapper' class='section'>
		<h1>A More Personalized Connection</h1>
		<h2>Analyse your legislator's voting record on issues and metrics you care about</h2>
		<div id='myreps-ui' class='interactive-ui'>
			<input type='hidden' id='hasdistrict' value='none'>
			<div class='interactive-controlpanel'>
				<div class='interactive-controlpanel-1'>
					<div id='repstoggle' class='redbutton' onclick="javascript:mrepsControl();return false;" value='seereps'>See My Representatives</div>
				</div>
				<div class='interactive-controlpanel-2'>
			  		<h2 class='icp2-title'>Choose Your Own Stats</h2>
					<h3>Potential Choices</h3> 
					<ul>
			  			<li>Issue 1</li>
			  			<li>Issue 2</li>
			  			<li>Issue 3</li>
			  			<li>Issue 4</li>
			  			<li>Issue 5</li>
			  		</ul>
			  	</div>
			</div>
			<div class='interactive-display-legend'>
				<table class='idl-table'>
					<tr>
						<td>Issue 1</td>
					</tr>
					<tr>
						<td>Issue 2</td>
					</tr>
					<tr>
						<td>Issue 3</td>
					</tr>
					<tr>
						<td>Issue 4</td>
					</tr>
					<tr>
						<td>Issue 5</td>
					</tr>
				</table>
			</div>
			<div class='interactive-display'>

				<div id='congressional-leaders' class='reps-wrapper'>
					<h2 class='id-title'>These are the leaders of congress</h2>
					<div id='spthouse' class='rep-wrapper'>
						<div class='rep-header-wrapper'>
							<h4>Speaker For The House</h4>
							<div class='rep-header'>
								<div class='rep-pic'></div>
								<div class='rep-title'>Paul Ryan</div>
							</div>
						</div>
						<div class='rep-stats'>
							<table>
								<tr>
									<td>Stat 1</td>
								</tr>
								<tr>
									<td>Stat 2</td>
								</tr>
								<tr>
									<td>Stat 3</td>
								</tr>
								<tr>
									<td>Stat 4</td>
								</tr>
								<tr>
									<td>Stat 5</td>
								</tr>
							</table>
						</div>
					</div>
					<div id='smjleader' class='rep-wrapper'>
						<div class='rep-header-wrapper'>
							<h4>Senate Majority Leader</h4>
							<div class='rep-header'>
								<div class='rep-pic'></div>
								<div class='rep-title'>Mitch McConnell</div>
							</div>
						</div>
						<div class='rep-stats'>
							<table>
								<tr>
									<td>Stat 1</td>
								</tr>
								<tr>
									<td>Stat 2</td>
								</tr>
								<tr>
									<td>Stat 3</td>
								</tr>
								<tr>
									<td>Stat 4</td>
								</tr>
								<tr>
									<td>Stat 5</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div id='district-reps' class='reps-wrapper'>
					<h2 class='id-title'>The Representatives for Kentucky:3</h2>
					<div id='address-form-wrapper'>
						<h2>We Need To Find Your District First</h2>
						<div id='uselocation' class='redbutton' onclick="javascript:useLocation();return false;">Use Location Data</div>
						Or<br>
						<div id='useaddress'>
							<form method='post' name='districtform' id='districtform' onsubmit="javascript:handleZip();return false;">
					  			<input id='address' type="text" name="address" placeholder='Street Address' style='width:calc(100% - 4px)'><br>
					  			<input id='city' type="text" name="city" placeholder='City' style='width:calc(50% - 6px)'>
					  			<input id='state' type="text" name="state" placeholder='State Abbreviation (XX)' style='width:calc(50% - 7px)'>
					  			<div id='address-submit' class='redbutton' onclick="javascript:useAddress();return false;">Find With Street Address</div>
							</form>
						</div>
						<span style='font-size:80%'>*Privacy: We never save any location data. When you use this button it is single use to find your district.</span>
					</div>
					<div id='mreps-house'>
						<div id='my-hr' class='mrep-wrapper'>
							<div class='rep-header-wrapper'>
								<h4>Speaker For The House</h4>
								<div class='rep-header'>
									<div class='rep-pic'></div>
									<div class='rep-title'></div>
								</div>
							</div>
							<div class='rep-stats'>
								<table>
									<tr>
										<td>Stat 1</td>
									</tr>
									<tr>
										<td>Stat 2</td>
									</tr>
									<tr>
										<td>Stat 3</td>
									</tr>
									<tr>
										<td>Stat 4</td>
									</tr>
									<tr>
										<td>Stat 5</td>
									</tr>
								</table>
							</div>
						</div>
						<div id='my-ss' class='mrep-wrapper'>
							<div class='rep-header-wrapper'>
								<h4>Senate Majority Leader</h4>
								<div class='rep-header'>
									<div class='rep-pic'></div>
									<div class='rep-title'></div>
								</div>
							</div>
							<div class='rep-stats'>
								<table>
									<tr>
										<td>Stat 1</td>
									</tr>
									<tr>
										<td>Stat 2</td>
									</tr>
									<tr>
										<td>Stat 3</td>
									</tr>
									<tr>
										<td>Stat 4</td>
									</tr>
									<tr>
										<td>Stat 5</td>
									</tr>
								</table>
							</div>
						</div>
						<div id='my-js' class='mrep-wrapper'>
							<div class='rep-header-wrapper'>
								<h4>Senate Majority Leader</h4>
								<div class='rep-header'>
									<div class='rep-pic'></div>
									<div class='rep-title'></div>
								</div>
							</div>
							<div class='rep-stats'>
								<table>
									<tr>
										<td>Stat 1</td>
									</tr>
									<tr>
										<td>Stat 2</td>
									</tr>
									<tr>
										<td>Stat 3</td>
									</tr>
									<tr>
										<td>Stat 4</td>
									</tr>
									<tr>
										<td>Stat 5</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class='interactive-share'>
				<h2>Share</h2>
			</div>
		</div>
	</div>

	<div id='pcomp_wrapper' class='section'>
		<h1>Democrats Vs. Republicans</h1>
		<h2>Which party stands for your values?</h2>
		<div id='pcomp-ui' class='interactive-ui'>
			<div class='interactive-controlpanel'>
				<div class='interactive-controlpanel-1'>
					<div class='ribbon-header'>See The Leaders of Congress</div>
					<div id='addressform_wrapper'>
						<div class='ribbon-header'>See My Representatives</div>
						<form method='post' name='districtform' id='districtform'>
							<input type='checkbox' id='uselocation' name='uselocation'>Use Location Data
						</form>
					</div>
				</div>
				<div class='interactive-controlpanel-2'>
			  		<h3 class='icp2-title'>Popular Issues</h3>
			  		<ul>
			  			<li>Issue 1</li>
			  			<li>Issue 2</li>
			  			<li>Issue 3</li>
			  			<li>Issue 4</li>
			  			<li>Issue 5</li>
			  		</ul>
			  	</div>
			</div>
			<div id='pcomp-idl' class='interactive-display-legend'>
				<table class='idl-table'>
					<tr>
						<td>Issue 1</td>
					</tr>
					<tr>
						<td>Issue 2</td>
					</tr>
					<tr>
						<td>Issue 3</td>
					</tr>
					<tr>
						<td>Issue 4</td>
					</tr>
					<tr>
						<td>Issue 5</td>
					</tr>
				</table>
			</div>
			<div class='interactive-display'>
				<div id='pcomp-party-headers'>
					<div id='dem-header' class='party-header pcomp-table-dem'>
						The Democrats
					</div>
					<div id='repub-header' class='party-header pcomp-table-repub'>
						The Republicans
					</div>					
				</div>
				<table id='pcomp-table'>
					<tr>
						<td class='pcomp-table-dem'>Yea</td>
						<td class='pcomp-table-repub'>Nay</td>
					</tr>
					<tr>
						<td class='pcomp-table-dem'>Yea</td>
						<td class='pcomp-table-repub'>Nay</td>
					</tr>
					<tr>
						<td class='pcomp-table-dem'>Yea</td>
						<td class='pcomp-table-repub'>Nay</td>
					</tr>
					<tr>
						<td class='pcomp-table-dem'>Yea</td>
						<td class='pcomp-table-repub'>Nay</td>
					</tr>
					<tr>
						<td class='pcomp-table-dem'>Yea</td>
						<td class='pcomp-table-repub'>Nay</td>
					</tr>					
				</table>
			</div>
			<div class='interactive-share'>
				<h2>Share</h2>
			</div>
		</div>
	</div>

	<div id='polls_wrapper' class='section'>
		<h1>Election Season!</h1>
		<h2>Stay up to date with the presidential race</h2>
		
		<div id='pcomp-ui' class='interactive-ui'>
			<div class='interactive-controlpanel'>
				<div class='interactive-controlpanel-1'>
					<h2>Select Party</h2>
					<div id='dem_select' class='partyselect dem' onclick="javascript:partySelect('D');return false;">Democrats</div>
					<div id='repub_select' class='partyselect repub' onclick="javascript:partySelect('R');return false;">Republicans</div>
				</div>
				<div class='interactive-controlpanel-2'>
					<h3 class='icp2-title'>Upcoming Primaries</h3>
					<ol>
						<li>Iowa</li>
						<li>New Hampshire</li>
						<li>South Carolina</li>
						<li>Nevada</li>
					</ol>
				</div>	
			</div>
			<div class='interactive-display'>
				<input id='dataref' value='/pull/polldata,dem_national,repub_national' type='hidden'>
				<h3 class='visualtitle'>Current National Standings</h3>
				<div id='dem_national' class='graphback'></div>
				<div id='repub_national' class='graphback'></div>
				<div id='tableback'></div>
			</div>
			<div class='interactive-share'>
				<h2>Share</h2>
			</div>
		</div>
	</div>

<script>
function mrepsControl(changeaddress){
	toggle = $('#repstoggle').attr('value')
	if(toggle == 'seereps'){ //switch to the representatives
		district = $('#hasdistrict').attr('value')
		if(district == 'none'){ //display address form
			$('address-form-wrapper').css('display','block')
		}
		$('#district-reps').css('display','flex')
		$('#congressional-leaders').css('display','none')
		$('#repstoggle').attr('value','seeleaders')
		$('#repstoggle').html('See The Leaders of Congress')
	}else{ //switch to leaders of congress
		$('#district-reps').css('display','none')
		$('#congressional-leaders').css('display','flex')
		$('#repstoggle').attr('value','seereps')
		$('#repstoggle').html('See My Representatives')
	}
}

function inputRepData(data){
	console.log(data)
	j = JSON.parse(data)
	if(j.district){
		$('#hasdistrict').attr('value',j.district)
		$('#address-form-wrapper').css('display','none')
	}
	if ($('#reps_slider').attr('value') == 'leaders'){
		$('#hrpic').css('background', 'url(/images/headshots/'+j.spthpic+'.png)')
		$('#sspic').css('background', 'url(/images/headshots/'+j.smjlpic+'.png)')
		$('.reppic_wrapper').css('background-size', '100%')
	}
	else {
		$('#hrpic').css('background', 'url(/images/headshots/'+j.hrpic+'.png)')
		$('#sspic').css('background', 'url(/images/headshots/'+j.sspic+'.png)')
		$('#jspic').css('background', 'url(/images/headshots/'+j.jspic+'.png)')
		$('.reppic_wrapper').css('background-size', '100%')
	}
	//update names
	$('#hrname').html(j.hrname)
	$('#ssname').html(j.ssname)
	$('#jsname').html(j.jsname)
	//update ployalty
	$('#ployalty .hrstat').html(j.hrployalty+'%')
	$('#ployalty .ssstat').html(j.ssployalty+'%')
	$('#ployalty .jsstat').html(j.jsployalty+'%')
}
function useLocation() {
	console.log('using location')
    navigator.geolocation.getCurrentPosition(gotGPS);
}
function gotGPS(position) {
    lat = position.coords.latitude;
    lng = position.coords.longitude;
    $.post('/prop', {lat: lat, lng: lng}, function(data){
    	j = JSON.parse(data)
    	$('#reps_slider').attr('value', j.district)
    	$('#js_wrapper').css('display', 'block')
    	$('.jsstat').css('display', 'block')
        inputRepData(data)
    });
}
function useAddress(){
	street = document.getElementById('address').value;
	state = document.getElementById('state').value;
	city = document.getElementById('city').value;
	address = street+' '+city+' '+state
	$.post('/prop', {address: address}, function(data){
    	j = JSON.parse(data)
    	$('#reps_slider').attr('value', j.district)
    	$('#js_wrapper').css('display', 'block')
    	$('.jsstat').css('display', 'td')
        inputRepData(data)
    });
}

$( document ).ready(function() {
    $.post('/prop', {demo: 'yes'}, function(data){
  		inputRepData(data)
    });
});

</script>

<style>
/*Desktop*/
@media screen and (min-width: 966px){

	.section{position:relative;padding:50px 5vw 50px 5vw;}
	.interactive-ui{position:relative;margin:50px 0;width:90vw;height:70vh;}
	.interactive-ui h1, h2, h3, h4{margin:0;}
	.interactive-controlpanel{position:absolute;width:23.6%;height:100%;top:0;left:0;}
	.interactive-controlpanel-1{position:relative;height:calc(38.2% - 20px);padding-top:20px;}
	.interactive-controlpanel-2{position:relative;height:61.8%;}
	.icp2-title{;height:14.3%;}
	.interactive-display-legend{position:absolute;top:47%;left:23.6%;height:29.4%;width:14.5%;}
	.idl-table{height:100%;width:100%;text-align:center;}
	#pcomp-idl{top:23.5%;height:67.7%;}
	.interactive-display{background:#EAEAEA;position:absolute;width:47.3%;height:100%;top:0;left:38.2%;text-align:center;}
	.id-title{height:8.8%;line-height:100%;width:100%;}
	.interactive-share{position:absolute;bottom:0;left:23.6%;width:76.4%;height:8.8%;background:#0E1C32;color:white;opacity:.5}
	#mreps_r1{position:relative;height:47.1%;}
	#mreps_r1-left{float:left;width:38.2%;height:100%;}
	.ribbon-header{height:30px;line-height:30px;background:darkred;color:white;font-weight:bold;text-align:center;}
	#addressform_wrapper{margin:30px 0;}
	#districtform{position:relative;margin:0 auto; width:80%;}
	#mreps_r2{position:relative;height:29.4%;}
	#mreps_r2-1{float:left;height:100%;width:21.3vw;}
	#mreps_r2-2{float:left;width:26.2vw;height:100%;}
	.issuebox{position:relative;text-align:center;height:20%;}
	#repdisplay{background:#EAEAEA;position:absolute;top:0;right:14.5%;height:100%;width:32.7%;z-index: 5;}
	#mreps_r3{position:relative;height:23.6%;padding-top:5%;}

	#pcomp-search{position:relative;width:23.6%;height:50px;line-height:50px;text-align:center;color:white;background:darkred;z-index:5}
	#pcomp-suggestions{position:absolute;left:0;bottom:14.5%;width:18.2%;height:52.9%;}
	#pcomp-display{position:absolute;top:0;right:14.5%;width:67.3%;height:85.5%;z-index: 1;}
	#pcomp-party-headers{height:23.5%;}
	.party-header{float:left;width:calc(50% - 2px);margin:1px;height:calc(100% - 2px);text-align:center;}
	#pcomp-table{position:absolute;width:100%;height:67.7%;text-align:center;}
	.pcomp-table-issue{width:29.7%;}
	.pcomp-table-dem{background:blue;}
	.pcomp-table-repub{background:red;}
	#pcomp-social{position:absolute;bottom:0;left:0;width:85.5%;height:10%;padding-top:4.5%;}
	.rep-header-wrapper{position:relative;height:46.4%;}
	.rep-header-wrapper h4{width:100%;text-align:center;}
	.rep-header{position:absolute;height:70%;top:50%;left:50%;transform:translate(-50%,-50%);min-width:50%;}
	.rep-pic{position:relative;margin:0 auto;background:blue;height:80%;width:70%;border-radius:50%;}
	.rep-title{position:relative;background:red;padding:5px 10px;}
	.rep-stats{height:35.7%;}
	.rep-stats table{height:100%;margin:0 auto;}
	.rep-stats td{background:gray;min-width:100px;}
	.reps-wrapper{position:relative;display:flex;flex-wrap:wrap;width:100%;height:91.2%;}
	.rep-wrapper{width:50%;height:100%;}
	#address-form-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;background:white;z-index:3}
	#mreps-house{display:flex;z-index:2;height:91.2%;width:100%;}
	.mrep-wrapper{width:33.3%;height:100%;}
}

.redbutton{background:darkred;color:white;font-weight:bold;text-align:center;cursor:pointer;border:double 3px #660000;}
.redbutton:hover{background:#A23333;}

#interactivesnav{position:fixed;top:70px;right:0;width:15vw;text-align:center;z-index:10;}
.inav-option{position:relative;margin:10px 0;width:100%;height:50px;line-height:50px;background:#0E1C32;color:white;font-weight:bold;}
#opening{position:relative;padding:80px 5vw;min-height:calc(90vh - 220px);}
#opening{text-align:center;}
#centerpiece{display:block;position:relative;margin:50px auto;width:60vw;}
.vpoint{position:relative;width:450px;max-width:90vw;margin-bottom:100px;}
.vpoint h2,h4{display:block;text-align:left;}
.leftpane{float:left;}
.rightpane{float:right;position:relative;}
.visual{background:#EAEAEA;width:600px;min-height:500px;max-width:90vw;}
.visualtitle{text-align:center;}
.dem{background:blue;}
.repub{background:red;}
#pcomptable{border-spacing:0;width:100%;}
#pcomptable img{height:50px;}
#pcomptable td{height:50px;}
#pcomptitles{padding:5px;}
.dem{background:blue;}
.repub{background:red;}
.graphimg{width:50%;}
#partyselector{display:flex;margin:10px 0;}
.partyselect{padding:10px;margin:10px 0;width:calc(100% - 20px);text-align:center;cursor:pointer;}
.partyselected{font-weight:bold;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
#current_standings{}
.graphback{display:none;width:600px;height:400px;max-width:90vw}
#reps_slider{display:flex;flex-wrap:none;background:lavender;}

#repstoggle{position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);width:80%;padding:15% 10px;}
#district-reps{display:none;}
#uselocation{position:relative;margin:10%;padding:5% 0;width:80%;}
#address-submit{padding:5% 0;margin:20px 0 10% 0;}


/*Mobile only*/
@media screen and (max-width: 520px){
	#opening{padding:100px 5vw 0 5vw;}
}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	.vpoint h2{text-align:center;}
	.leftpane{position:relative;float:none;margin:0 auto;}
	.rightpane{position:relative;float:none;margin:0 auto;}
	
	#demo_content{min-width:100px;height:auto;padding:0;overflow:auto;background-color:white;}
	.mobrep_spacer{position:relative;height:45vw;max-height:220px;}
	.mobrep_info{position:relative;display:block;margin-top:20px;padding:0 20px;}
	.mobrep_info table{position:relative;width:100%;}
	.mtrow{background:darkblue;}
	.mobrep_info td{width:50%;}
}


</style>
{% endblock %}