{% extends "newbase.html" %}

{% block content %}
<div id='pagenav'>
	<div id='personalize-option' class='pagenav-option' onclick="javascript:scroller('mreps', 'section');return false;">My Legislators</div>
	<div id='partycomp-option' class='pagenav-option' onclick="javascript:scroller('pcomp','section');return false;">Party Comparison</div>
	<div id='currentpolls-option' class='pagenav-option' onclick="javascript:scroller('polls','section');return false;">Current Polls</div>
</div>

	<script type="text/javascript" src="/js/vprop.js"></script>

	<div id='mreps' class='section'>
		<div id='mreps-wrapper-head'>
			<div id='fr-form-container' class='mwh' value='ctitle'>
				<h1>Find My Representatives</h1>
				<div id='fr-form-wrapper'>
					<div id='location-data-wrapper' class='fr-form'>
						<div id='use-location' class='bluebutton button center' onclick="javascript:useLocation();return false;">Use Location Data</div>
						<div id='use-address' class='redbutton button center' onclick="javascript:showHideAddressForm();return false;">Use Street Address -></div>
					</div>
					<div id='address-form-wrapper' class='fr-form' value='hidden'>
						<form method='post' name='address-form' id='address-form' onsubmit="javascript:handleZip();return false;">
							<div id='address-form-inputs'>
					  			<input id='address' class='small-text-input' type="text" name="address" placeholder='Street Address' style='width:275px'><br>
					  			<input id='city' class='small-text-input' type="text" name="city" placeholder='City' style='width:130px;margin-bottom:0'>
					  			<input id='state' class='small-text-input' type="text" name="state" placeholder='State Abbreviation (XX)' style='width:130px;margin-bottom:0'>
				  			</div>
				  			<div id='use-address-go' class='redbutton' value='Submit' onclick="javascript:useAddress();return false;">Go -></div>
				  		</form>
					</div>
				</div>
				<div class='reps-container'style='margin-top:100px'>
					<h2>The leaders of our Congress</h2>
					<div class='rep-wrapper whiteback'>
					</div>
					<div class='rep-wrapper whiteback'>
					</div>
				</div>
			</div>
			<div id='found-district-mreps-wrapper' class='mwh fdw' value='district-reps'>
				<h1>Kentucky's 3rd District</h1>
				<div id='show-leaders-link' class='redlink' onclick="javascript:showHide('mwh','2','1');return false;">Show Congressional Leaders</div>
				<div id='change-district' class='redlink' onclick="javascript:showHide('mwh','0','1');return false;">Change District</div>
				<div class='reps-container'>
					<h2>Your Representatives</h2>
					<div class='rep-wrapper whiteback'>
					</div>
					<div class='rep-wrapper whiteback'>
					</div>
					<div class='rep-wrapper whiteback'>
					</div>
				</div>
			</div>
			<div id='found-district-leaders-wrapper' class='mwh fdw' value='congressional-leaders'>
				<h1>These are the leaders of our Congress</h1>
				<div id='show-leaders-link' class='redlink' onclick="javascript:showHide('mwh','1','1');return false;">Show USER_DISTRICT's reps</div>
				<div id='change-district' class='redlink' onclick="javascript:showHide('mwh','0','1');return false;">Change District</div>
				<div class='reps-container'>
					<h2>The leaders of our Congress</h2>
					<div class='rep-wrapper whiteback'>
					</div>
					<div class='rep-wrapper whiteback'>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='pcomp' class='section'>
		<h1>Democrats Vs. Republicans</h1>
		<h2>Which party stands for your values?</h2>
				<table id='pcomp-table'>
					<tr>
						<td></td>
						<td>The Democrats</td>
						<td>The Republicans</td>
					</tr>
					<tr>
						<td>The Economy</td>
						<td class='pcomp-table-dem'>Democrats believe that we must raise the minimum wage and index it to inflation. We will continue to fight for equal pay for equal work to prepare more students for college.</td>
						<td class='pcomp-table-repub'>The best jobs program is economic growth. Republicans will pursue free market policies that are the surest way to boost employment and create job growth and economic prosperity for all.</td>
					</tr>
					<tr>
						<td>The Environment</td>
						<td class='pcomp-table-dem'>Democrats are committed to protecting our natural resources while creating jobs, preserving habitats, and ensuring that future generations can enjoy our nation's outdoor heritage.</td>
						<td class='pcomp-table-repub'>The environment is getting cleaner and healthier. Private ownership has been our best guarantee of conscientious stewardship. The worst instances of environmental degradation have occurred under government control.</td>
					</tr>
					<tr>
						<td>Criminal Justice</td>
						<td class='pcomp-table-dem'>We will continue to fight inequalities in our criminal justice system. We believe that the death penalty must not be arbitrary. The administration of justice should be fair and impartial.</td>
						<td class='pcomp-table-repub'>Liberals do not understand this simple axiom: criminals behind bars cannot harm the general public. Courts should have the option of imposing the death penalty in capital murder cases.</td>
					</tr>
					<tr>
						<td>Health Care</td>
						<td class='pcomp-table-dem'> We believe accessible, affordable, high quality health care is part of the American promise, that Americans should have the security that comes with good health care, and that no one should go broke because they get sick.</td>
						<td class='pcomp-table-repub'>In healthcare, genuine competition is the best guarantee of better care at lower cost. It is also the best guard against the fraud and abuse that have plagued Medicare in its isolation from free market forces, which in turn costs the taxpayers billions of dollars every year.</td>
					</tr>
					<tr>
						<td>Privacy and Data Security</td>
						<td class='pcomp-table-dem'>The Democratic Party is vigorously protecting U.S. intellectual property—our technology and creativity to support efforts by all parties to minimize infringement while supporting the free flow of information.</td>
						<td class='pcomp-table-repub'>The Internet has unleashed innovation, enabled growth, and inspired freedom more rapidly and extensively than any other technological advance in human history.  We will remove regulatory barriers that protect outdated technologies and business plans from innovation and competition, as they become crucial components of the Internet ecosystem.</td>
					</tr>
					<tr>
						<td>Education</td>
						<td class='pcomp-table-dem'>Public education is one of our critical democratic institutions. We are committed to ensuring that every child in America has access to a world-class public education so we can out-educate the world and make sure America has the world's highest proportion of college graduates by 2020.</td>
						<td class='pcomp-table-repub'>It is our responsibility to ensure that our children receive a world-class education that maximizes their potential. The Republican Party believes that every child should have an equal opportunity to get a great education—regardless of its zip code or its parents’ income.</td>
					</tr>	
					<tr>
						<td>Civil Rights</td>
						<td class='pcomp-table-dem'>We believe in an America where everybody gets a fair shot and everybody plays by the same set of rules. At the core of the Democratic Party is the principle that no one should face discrimination.</td>
						<td class='pcomp-table-repub'>To those who stand in the darkness of tyranny, America has always been a beacon of hope, and so it must remain.</td>
					</tr>						
				</table>
	</div>

	<div id='polls' class='section'>
		<h1>Election Season!</h1>
		<h2>Stay up to date with the presidential race</h2>
		
		<div id='pcomp-ui' class='interactive-ui'>
			<div class='interactive-controlpanel'>
				<div class='interactive-controlpanel-1'>
					<h2>Select Party</h2>
					<div id='dem_select' class='partyselect dem' onclick="javascript:partySelect('D');return false;">Democrats</div>
					<div id='repub_select' class='partyselect repub' onclick="javascript:partySelect('R');return false;">Republicans</div>
				</div>
				<div class='interactive-controlpanel-2'>
					<h3 class='icp2-title'>Upcoming Primaries</h3>
					<ol>
						<li>Iowa</li>
						<li>New Hampshire</li>
						<li>South Carolina</li>
						<li>Nevada</li>
					</ol>
				</div>	
			</div>
			<div class='interactive-display whiteback'>
				<input id='dataref' value='/pull/polldata,dem_national,repub_national' type='hidden'>
				<h3 class='visualtitle'>Current National Standings</h3>
				<div id='dem_national' class='graphback'></div>
				<div id='repub_national' class='graphback'></div>
				<div id='tableback'></div>
			</div>
		</div>
	</div>
	<div id='back-to-top' onclick="javascript:scrollTo('top');return false;">Back To Top</div>

<script>
function showHideDistrictForm(){
	if($('#found-district-mreps-wrapper').attr('value') == 'hidden'){
		console.log('shds conditional 1')
	  	$('#fr-form-container').css('display','none')
	  	$('#found-district-mreps-wrapper').css('display','block')
	  	fadeIn('found-district-mreps-wrapper')
	  	$('#found-district-mreps-wrapper').attr('value','shown')
  	}else{
  		showHideAddressForm('hide')
  		$('#found-district-mreps-wrapper').css('display','none')
  		$('#fr-form-container').css('display','block')
  		fadeIn('fr-form-container')
  		$('#found-district-mreps-wrapper').attr('value','hidden')
  	}
}

function showHideAddressForm(direction){
	if($('#address-form-wrapper').attr('value') == 'hidden' && direction !='hide'){
		newpos = parseFloat($('#fr-form-wrapper').position().left) - 400;
		console.log('hidden!!!')
	  	$('#fr-form-wrapper').animate({
	        left: newpos
	        }, 500);
	  	$('#address-form-wrapper').css('display','block')
	  	fadeIn('address-form-wrapper')
	  	$('#address-form-wrapper').attr('value','shown')
  	}else if($('#address-form-wrapper').attr('value') == 'shown' && direction != 'show'){
  		newpos = parseFloat($('#fr-form-wrapper').position().left) + 400;
  		$('#address-form-wrapper').attr('value','hidden')
  		$('#fr-form-wrapper').css('left','calc(50% - 200px)')
  		$('#address-form-wrapper').css('display','none')
  	}
}

function mrepsControl(changeaddress){
	toggle = $('#repstoggle').attr('value')
	if(toggle == 'seereps'){ //switch to the representatives
		district = $('#hasdistrict').attr('value')
		if(district == 'none'){ //display address form
			$('address-form-wrapper').css('display','block')
		}
		$('#district-reps').css('display','flex')
		$('#congressional-leaders').css('display','none')
		$('#repstoggle').attr('value','seeleaders')
		$('#repstoggle').html('See The Leaders of Congress')
	}else{ //switch to leaders of congress
		$('#district-reps').css('display','none')
		$('#congressional-leaders').css('display','flex')
		$('#repstoggle').attr('value','seereps')
		$('#repstoggle').html('See My Representatives')
	}
}

function inputRepData(data){
	console.log(data)
	j = JSON.parse(data)
	if(j.district){
		$('#hasdistrict').attr('value',j.district)
		$('#address-form-wrapper').css('display','none')
	}
	if ($('#reps_slider').attr('value') == 'leaders'){
		$('#hrpic').css('background', 'url(/images/headshots/'+j.spthpic+'.png)')
		$('#sspic').css('background', 'url(/images/headshots/'+j.smjlpic+'.png)')
		$('.reppic_wrapper').css('background-size', '100%')
	}
	else {
		$('#hrpic').css('background', 'url(/images/headshots/'+j.hrpic+'.png)')
		$('#sspic').css('background', 'url(/images/headshots/'+j.sspic+'.png)')
		$('#jspic').css('background', 'url(/images/headshots/'+j.jspic+'.png)')
		$('.reppic_wrapper').css('background-size', '100%')
	}
	//update names
	$('#hrname').html(j.hrname)
	$('#ssname').html(j.ssname)
	$('#jsname').html(j.jsname)
	//update ployalty
	$('#ployalty .hrstat').html(j.hrployalty+'%')
	$('#ployalty .ssstat').html(j.ssployalty+'%')
	$('#ployalty .jsstat').html(j.jsployalty+'%')
}
function useLocation() {
	showHide('mwh','1','1')
	console.log('using location')
    navigator.geolocation.getCurrentPosition(gotGPS);
}
function gotGPS(position) {
    lat = position.coords.latitude;
    lng = position.coords.longitude;
    $.post('/prop', {lat: lat, lng: lng}, function(data){
    	j = JSON.parse(data)
    	$('#reps_slider').attr('value', j.district)
    	$('#js_wrapper').css('display', 'block')
    	$('.jsstat').css('display', 'block')
        inputRepData(data)
    });
}
function useAddress(){
	showHideDistrictForm()
	street = document.getElementById('address').value;
	state = document.getElementById('state').value;
	city = document.getElementById('city').value;
	address = street+' '+city+' '+state
	$.post('/prop', {address: address}, function(data){
    	j = JSON.parse(data)
    	$('#reps_slider').attr('value', j.district)
    	$('#js_wrapper').css('display', 'block')
    	$('.jsstat').css('display', 'td')
        inputRepData(data)
    });
}

function startPosition(){
	section = getParameterByName('s')
	if (!section) {section = 'mreps';}
	scroller(section, 'section')
}

$( document ).ready(function() {
    startPosition()
    $.post('/prop', {demo: 'yes'}, function(data){
  		inputRepData(data)
    });
});

</script>

<style>
.small-text-input{margin-bottom:10px;}
#found-district-wrapper{display:none;}
.section h1{text-align:center;}
#fr-form-container{position:relative;padding-bottom:88px;}
#fr-form-wrapper{position:absolute;left:calc(50% - 200px);display:flex;}
#fr-form-wrapper h1{width:100%;}
.fr-form{min-width:400px;}
.fdw{display:none;}
#location-data-wrapper{text-align:center;width:400px;}
#address-form-wrapper{position:relative;text-align:center;opacity:0;width:500px;display:none;}
#address-form{position:relative;display:flex;}
#address-form-inputs{position:relative;margin-left:40px;}
#use-address-go{position:relative;height:34px;margin-top:44px;padding:0 10px;width:50px;margin-left:10px;border-radius:2px;line-height:34px;}
#mreps-view-wrapper{margin-top:40px;min-height:300px;background:lavender;}
#change-district{margin:0 auto 10px;text-align:center;width:150px;margin-bottom:10px;}
#rep-view-toggle{background:#0E1C32;margin:0 auto;}
#show-leaders-link{width:200px;margin:0 auto;}
.reps-container{display:flex;justify-content:center;flex-wrap:wrap;}
.reps-container h2{width:100%;text-align:center;margin-top:40px;}
.rep-wrapper{margin:40px;width:300px;height:400px;}
/*Desktop*/
@media screen and (min-width: 966px){



	.section{position:relative;padding:50px 5vw 50px 5vw;}
	.interactive-ui{position:relative;margin:50px 0;width:90vw;height:70vh;}
	.interactive-ui h1, h2, h3, h4{margin:0;}
	.interactive-controlpanel{position:absolute;width:23.6%;height:100%;top:0;left:0;}
	.interactive-controlpanel-1{position:relative;height:calc(38.2% - 20px);padding-top:20px;}
	.interactive-controlpanel-2{position:relative;height:61.8%;}
	.icp2-title{;height:14.3%;}
	.interactive-display-legend{position:absolute;top:47%;left:23.6%;height:29.4%;width:14.5%;}
	.idl-table{height:100%;width:100%;text-align:center;}
	#pcomp-idl{top:23.5%;height:67.7%;}
	.interactive-display{position:absolute;width:47.3%;height:100%;top:0;left:38.2%;text-align:center;padding-top:20px;}
	.id-title{height:8.8%;line-height:100%;width:100%;}
	#mreps_r1{position:relative;height:47.1%;}
	#mreps_r1-left{float:left;width:38.2%;height:100%;}
	.ribbon-header{height:30px;line-height:30px;background:darkred;color:white;font-weight:bold;text-align:center;}
	#addressform_wrapper{margin:30px 0;}
	#mreps_r2{position:relative;height:29.4%;}
	#mreps_r2-1{float:left;height:100%;width:21.3vw;}
	#mreps_r2-2{float:left;width:26.2vw;height:100%;}
	.issuebox{position:relative;text-align:center;height:20%;}
	#repdisplay{background:#EAEAEA;position:absolute;top:0;right:14.5%;height:100%;width:32.7%;z-index: 5;}
	#mreps_r3{position:relative;height:23.6%;padding-top:5%;}
	#pcomp-search{position:relative;width:23.6%;height:50px;line-height:50px;text-align:center;color:white;background:darkred;z-index:5}
	#party-table-wrapper{padding-top:0;}
	#pcomp-suggestions{position:absolute;left:0;bottom:14.5%;width:18.2%;height:52.9%;}
	#pcomp-display{position:absolute;top:0;right:14.5%;width:67.3%;height:85.5%;z-index: 1;}
	#pcomp-party-headers{height:23.5%;}
	.party-header{float:left;width:calc(50% - 2px);margin:1px;height:calc(100% - 2px);text-align:center;}
	#pcomp-table{margin-top:50px;width:75vw;}
	#pcomp-table td{padding:10px;}
	.pcomp-table-issue{width:29.7%;}
	.pcomp-table-dem{background:#162d50;color:white;}
	.pcomp-table-repub{background:#A30000;color:white;}
	#pcomp-social{position:absolute;bottom:0;left:0;width:85.5%;height:10%;padding-top:4.5%;}
	.rep-header-wrapper{position:relative;height:46.4%;}
	.rep-header-wrapper h4{width:100%;text-align:center;}
	.rep-header{position:absolute;height:70%;top:50%;left:50%;transform:translate(-50%,-50%);min-width:50%;}
	.rep-pic{position:relative;margin:0 auto;background:blue;height:80%;width:70%;border-radius:50%;}
	.rep-title{position:relative;padding:5px 10px;border-radius:2px;border:solid 1px #D9D9D9;}
	.rep-stats{height:35.7%;}
	.rep-stats table{height:100%;margin:0 auto;}
	.rep-stats td{background:white;border:solid 1px #D9D9D9;border-radius:2px;min-width:100px;}
	.reps-wrapper{position:relative;display:flex;flex-wrap:wrap;width:100%;height:100%;}
	#mreps-house{display:flex;z-index:2;height:91.2%;width:100%;}
	.mrep-wrapper{width:33.3%;height:100%;}
}



#opening{position:relative;padding:80px 5vw;min-height:calc(90vh - 220px);}
#opening{text-align:center;}
.vpoint{position:relative;width:450px;max-width:90vw;margin-bottom:100px;}
.vpoint h2,h4{display:block;text-align:left;}
.leftpane{float:left;}
.rightpane{float:right;position:relative;}
.visual{background:#EAEAEA;width:600px;min-height:500px;max-width:90vw;}
.visualtitle{text-align:center;}
.dem{background:#162D50;}
.repub{background:#A30000;}
#pcomptable{border-spacing:0;width:100%;}
#pcomptable img{height:50px;}
#pcomptable td{height:50px;}
#pcomptitles{padding:5px;}
.dem{background:#162D50;color:white;}
.repub{background:#A30000;color:white;}
.graphimg{width:50%;}
#partyselector{display:flex;margin:10px 0;}
.partyselect{padding:10px;margin:10px 0;width:calc(100% - 20px);text-align:center;cursor:pointer;border-radius:500px;}
.partyselected{font-weight:bold;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
#current_standings{}
.graphback{display:none;width:600px;height:400px;max-width:90vw}
#reps_slider{display:flex;flex-wrap:none;background:lavender;}

#repstoggle{position:absolute;top:40%;left:50%;transform:translate(-50%,-50%);width:80%;padding:15% 10px;}
#district-reps{display:none;}
#uselocation{position:relative;margin:20px 10%;padding:5% 0;width:80%;}
#address-submit{padding:5% 0;margin:20px 0 10% 0;}


/*Mobile only*/
@media screen and (max-width: 520px){
	#opening{padding:100px 5vw 0 5vw;}
}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	.vpoint h2{text-align:center;}
	.leftpane{position:relative;float:none;margin:0 auto;}
	.rightpane{position:relative;float:none;margin:0 auto;}
	
	#demo_content{min-width:100px;height:auto;padding:0;overflow:auto;background-color:white;}
	.mobrep_spacer{position:relative;height:45vw;max-height:220px;}
	.mobrep_info{position:relative;display:block;margin-top:20px;padding:0 20px;}
	.mobrep_info table{position:relative;width:100%;}
	.mtrow{background:darkblue;}
	.mobrep_info td{width:50%;}
}


</style>
{% endblock %}