{% extends "publicbase.html" %}

{% block content %}
	<script type="text/javascript" src="/js/vprop.js"></script>
	<div id='opening'>
		<img id='centerpiece' src='/images/fullglasscapitol.png' alt='...'>
		<h1>Government Transparency At Its Finest</h1>
		<h3>All the facts to inform us and a network to unite us</h3>
	</div>

	<div class='section'>
		<div id='factsblurb' class='vpoint leftpane'>
			<h2>Just The Facts, All The Facts</h2>
			<h4>A single place where you can find all government related data properly sourced and un-opinionated so that you can make decisions for yourself.</h4>
		</div>
		
		<div id='partycomp' class='visual rightpane'>
			<h4 class='visualtitle'>The Party Platforms</h4>
			<table id='pcomptable'>
				<tr id='pcomptitles'>
					<td></td>
					<td class='dem'>Democrats</td><td>VS</td>
					<td class='repub'>Republicans</td>
				</tr>
				<tr>
					<td></td><td class='dem'>
						<img src='/images/hillary_headshot.png'>
						<img src='/images/bernie_headshot.png'>
						<img src='/images/martin_headshot.png'>
					</td>
					<td></td><td class='repub'>
						<img src='/images/trump_headshot.png'>
						<img src='/images/cruz_headshot.png'>
						<img src='/images/rubio_headshot.png'>
					</td>
				</tr>
				<tr>
					<td class='issue'>The Economy</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Environment & Science</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Criminal Justice</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Health Care</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Privacy & Data Security</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Education</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Religion & Social Issues</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
			</table>
		</div>
	</div>

	<div class='section'>
		<div id='investigateblurb' class='vpoint rightpane'>
			<h2>Make Your Own Conclusions</h2>
			<h4>When we can all see and discuss our government's record clearly we can make the best decisions at the voting booths.</h4>
		</div>
		<div id='effectiveness' class='visual leftpane'>
			this will be an interactive section to help people develop their positions on different issues or policies. It's goal is to show users where their hidden bias and be a way to mitigate it
		</div>
	</div>

	<div class='section'>
		<div id='connectionblurb' class='vpoint leftpane'>
			<h2>Personalized Connection To Government</h2>
			<h4>Your representative's voting record for you to judge with issues you care about front and center.</h4>

			<h3>Find Your Representatives</h3>
			<div id='findform_wrapper'>
				<div id='use_address' class='districtentry'>
					<form method='post' name='districtform' id='districtform' onsubmit="javascript:handleZip();return false;">
						<div class='formhead'>Enter Street Address</div>
			  			<input id='address' type="text" name="address" placeholder='Street Address' style='width:calc(100% - 4px)'><br>
			  			<input id='city' type="text" name="city" placeholder='City' style='width:calc(50% - 6px)'>
			  			<input id='state' type="text" name="state" placeholder='State Abbreviation (XX)' style='width:calc(50% - 7px)'>
			  			<div id='zip_submit' class='z-depth-1 dformbutton' onclick="javascript:useAddress();return false;">Find With Street Address</div>
					</form>
				</div>
				<div id='use_location' class='districtentry'>
					<span style='font-size:80%'>*Privacy: We never save any location data. When you use this button it is single use to find your district.</span>
					<div class="dformbutton" onclick="javascript:useLocation();return false;">Find With Location Data</div>
				</div>
			</div>
		</div>
		
		<div class='visual rightpane'>
			<div id='demo_content' class='content z-index-1'>
				<div id='statdata'>
					<h4>Stats</h4>
				</div>
				<div id='reps_container'>
					<h3>Your Representatives</h3>
					<div id='reps_slider' value='leaders'>
						<div id='hr_wrapper' class='rep_wrapper'>
							<h4>Speaker For The House</h4>
							<div id='hrpic' class='reppic_wrapper'></div>
							<div class='basic_info'>
								<div id='hrname' class='repname'>rep name</div>
								<div id='hrparty' class='repparty'>rep party</div>
								<div id='hryears' class='repyears'>years in office</div>
								<div class='partypic_wrapper'></div>
							</div>
							<div class='mobrep_spacer'></div>
							<div class='mobrep_info'>
								<table>
									<tr class='mtrow'>
										<td class='msname'>Party Loyalty</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 2 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 3 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 4 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 5 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
								</table>
							</div>
						</div>

						<div id='ss_wrapper' class='rep_wrapper'>
							<h4>Senate Majority Leader</h4>
							<div id='sspic' class='reppic_wrapper'></div>
							<div class='basic_info'>
								<div id='ssname' class='repname'>rep name</div>
								<div id='ssparty' class='repparty'>rep party</div>
								<div id='ssyears' class='repyears'>years in office</div>
								<div class='partypic_wrapper'></div>
							</div>
							<div class='mobrep_spacer'></div>
							<div class='mobrep_info'>
								<table>
									<tr class='mtrow'>
										<td class='msname'>Party Loyalty</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 2 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 3 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 4 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 5 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
								</table>
							</div>
						</div>

						<div id='js_wrapper' class='rep_wrapper'>
							<h4>Junior Senator</h4>
							<div id='jspic' class='reppic_wrapper'></div>
							<div class='basic_info'>
								<div id='jsname' class='repname'>rep name</div>
								<div id='jsparty' class='repparty'>rep party</div>
								<div id='jsyears' class='repyears'>years in office</div>
								<div class='partypic_wrapper'></div>
							</div>
							<div class='mobrep_spacer'></div>
							<div class='mobrep_info'>
								<table>
									<tr class='mtrow'>
										<td class='msname'>Party Loyalty</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 2 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 3 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 4 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
									<tr class='mtrow'>
										<td class='msname'>Stat 5 Name</td>
										<td class ='mrepstat'>X%</td> 
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div id='repstable_wrapper'>
					<table id='repstable'>
						<tr id='ployalty' class='orow plrow' onmouseover="javascript:rhover('stat1');return false;">
							<td class='sname'>Party Loyalty</td>
							<td class='hrstat'>X%</td>
							<td class='ssstat'>X%</td>
							<td class='jsstat'>X%</td>
						</tr>
						<tr id='sponsored' class='erow sporow' onmouseover="javascript:rhover('stat2');return false;">
							<td class='sname'>Stat 2 Name</td>
							<td class='hrstat'>HR stat 2</td>
							<td class='ssstat'>SS stat 2</td>
							<td class='jsstat'>JS stat 2</td>
						</tr>
						<tr id='stat3' class='orow' onmouseover="javascript:rhover('stat3');return false;">
							<td class='sname'>Stat 3 Name</td>
							<td class='hrstat'>HR stat 3</td>
							<td class='ssstat'>SS stat 3</td>
							<td class='jsstat'>JS stat 3</td>
						</tr>
						<tr id='stat4' class='erow' onmouseover="javascript:rhover('stat4');return false;">
							<td class='sname'>Stat 4 Name</td>
							<td class='hrstat'>HR stat 4</td>
							<td class='ssstat'>SS stat 4</td>
							<td class='jsstat'>JS stat 4</td>
						</tr>
						<tr id='stat5' class='orow' onmouseover="javascript:rhover('stat5');return false;">
							<td class='sname'>Stat 5 Name</td>
							<td class='hrstat'>HR stat 5</td>
							<td class='ssstat'>SS stat 5</td>
							<td class='jsstat'>JS stat 5</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class='section'>
		<div id='freedomblurb' class='vpoint rightpane'>
			<h2>Free Yourself From Traditional Media</h2>
			<h4>Wave goodbye to the clamour and inherent bias of traditional media.</h4>
		</div>
		<div id='current_standings' class='visual leftpane'>
			<input id='dataref' value='/pull/polldata,dem_national,repub_national' type='hidden'>
			<h3 class='visualtitle'>Current National Standings</h3>
			<div id='partyselector'>
				<div id='dem_select' class='partyselect dem' onclick="javascript:partySelect('D');return false;">Democrats</div>
				<div id='repub_select' class='partyselect repub' onclick="javascript:partySelect('R');return false;">Republicans</div>				
			</div>
			<div id='dem_national' class='graphback'>
			</div>
			<div id='repub_national' class='graphback'>
			</div>
			<div id='tableback'></div>
		</div>
	</div>

<style>

#opening{position:relative;padding:100px 5vw;min-height:calc(90vh - 220px);}
#opening h1,h3{text-align:center;}
.section{position:relative;width:calc(100% - 10vw);padding:50px 5vw;display:inline-block;}
#centerpiece{display:block;position:relative;margin:50px auto;width:60vw;}
.vpoint{position:relative;width:450px;max-width:90vw;margin-bottom:100px;}
.vpoint h2,h4{display:block;text-align:left;}
.leftpane{float:left;}
.rightpane{float:right;position:relative;}
.visual{background:#EAEAEA;width:600px;min-height:500px;max-width:90vw;}
.visualtitle{text-align:center;}
.dem{background:blue;}
.repub{background:red;}
#pcomptable{border-spacing:0;width:100%;}
#pcomptable img{height:50px;}
#pcomptable td{height:50px;}
#pcomptitles{padding:5px;}
.dem{background:blue;}
.repub{background:red;}
.graphimg{width:50%;}
#partyselector{display:flex;margin:10px 0;}
.partyselect{padding:10px;width:50%;text-align:center;cursor:pointer;}
.partyselected{font-weight:bold;-moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);-webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);box-shadow: 0px 0px 11px rgba(0,0,0,1);}
#current_standings{}
.graphback{display:none;width:600px;height:400px;max-width:90vw}


/*Mobile only*/
@media screen and (max-width: 520px){
	#opening{padding:100px 5vw 0 5vw;}
}

/*Mobile and Tablet*/
@media screen and (max-width: 965px){
	.vpoint h2{text-align:center;}
	.leftpane{position:relative;float:none;margin:0 auto;}
	.rightpane{position:relative;float:none;margin:0 auto;}
}

/*Large Desktop*/
@media screen and (min-width: 1281px){
	.visual{width:55%;}
}

</style>
{% endblock %}