{% extends "base.html" %}

{% block content %}

<div id='pagenav'>
	<ul>
		<li><p onclick="javascript:scrollTo('pos1');return false;">Subnav 1</p></li
		><li><p onclick="javascript:scrollTo('pos2');return false;">Subnav 2</p></li
		><li><p onclick="javascript:scrollTo('pos3');return false;">Subnav 3</p></li>
	</ul>
</div>

<div id='pos1' class='section'>
	<h4>Sub 1</h4>
</div>

<div id='pos2' class='section'>
	<h4>Sub 2</h4>
</div>

<div id='pos3' class='section'>
	<h4>Sub 3</h4>
</div>

<script type="text/javascript" src="/js/inpage.js"></script>
{% endblock %}