{% extends "publicbase.html" %}

{% block content %}
<link rel='stylesheet' href='css/landing1.css'/>
<div id='toplayer'>
	<div id='opening'>
		<h1 id='title'>The Glass Capitol</h1>
		<div id='mission'>Together We Can Forge A More Responsive Government</div>
		<div id='buttonpanel'>
			<div id='discoverbutton' class='mbutton' onclick="javascript:scrollTo('wwa');return false;">Discover How</div>
			<div class='mbutton' onclick="javascript:scrollTo('demo_wrapper');return false;">Find Your Reps</div>
		</div>
		<img id='flagswaving'src='/images/flagswaving.png'>
	</div>
	<div id='wwa'>
		<div id='spacers'>
			<div id='spblue'  class="spacer"></div>
			<div class='spred spacer'></div>
			<div id='spwhite' class="spacer"></div>
			<div class='spred spacer'></div>
		</div>
		<div id='wwa_content' class='content z-index-1'>
			<h2>Through The Glass Capitol you can:</h2>
			<div id='abilitytriad'>
				<div id='eyk' class='ability z-index-2'>
					Expand Your Knowledge
				</div>				

				<div id='fyi' class='ability'>
					Find Your Ideals
				</div>

				<div id='syicc' class='ability'>
					Share Insights & Create Coalitions
				</div>
			</div>
			<p id='abilitytext'>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. 
			</p>
		</div>
	</div>
	<div id='quote_wrapper'>
		<div id='quote'>
			“The essence of Government is power; and power, lodged as it must be in human hands, will ever be liable to abuse” - James Madison.
		</div> 
	</div>
	<div id='demo_wrapper'>
		<div id='demo_content' class='content z-index-1'>
			<h2>Find Your Representatives</h2>
			<div id='findform_wrapper'>
				<div id='use_location' class='bluebutton' onclick='useLocation()'>Use Location Data</div>
				<div>Or</div>
				<form method='post' name='zip_form' id='zipform' onsubmit="javascript:handleZip();return false;">
          			<input id='zip' type="text" name="zip" placeholder='Enter Address' style='text-align:center;'>
          			<div id='zip_submit' class=' z-depth-1 zformbutton' onclick='handleZip()'>Submit</div>
        		</form>
			</div>

			<h3>Your Representatives</h3>
			<div id='stats_container'>
				<div id='stats_slider'>
					<div id='' class='rep_wrapper'>
					Your HR
					</div>

					<div id='' class='rep_wrapper'>
					Your SS
					</div>

					<div id='' class='rep_wrapper'>
					Your JS
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='baselayer'><img id='monuments'src='/images/monuments.png'></div>
<script type="text/javascript" src="/js/landing1.js"></script>
{% endblock %}