{% extends "publicbase.html" %}

{% block content %}
<link rel='stylesheet' href='css/landing1.css'/>
<div id='toplayer'>
	<div id='opening'>
		<div id='title'><img id='tlogo'src='/images/gclogo_noback.png'><b>The Glass Capitol</b></div>
		<div id='mission'>Together We Can Forge A More Responsive Government</div>
		<div id='buttonpanel'>
			<div id='discoverbutton' class='mbutton' onclick="javascript:scrollTo('wwa');return false;">Discover How</div>
			<div class='mbutton' onclick="javascript:scrollTo('demo_wrapper');return false;">
				Find Your Reps
			</div>
			<div id='mfunctions'>
				<div id='malphalogin' class='mfun' onclick="javascript:showPopup('popalpha');return false;">
					Already Part of the Alpha?
				</div>
				<div id='mnewsletter' class='mfun' onclick="javascript:showPopup('popesf');return false;">
					Signup For Our Newsletter
				</div>
			</div>
		</div>
		<img id='flagswaving'src='/images/flagswaving.png'>
	</div>
	<div id='wwa'>
		<div id='spacers'>
			<div id='spblue'  class="spacer"></div>
			<div class='spred spacer'></div>
			<div id='spwhite' class="spacer"></div>
			<div class='spred spacer'></div>
		</div>
		<div id='wwa_content' class='content z-index-1'>
			<div id='abilitystuff'>
				<h2>Through The Glass Capitol you can:</h2>
				<div id='abilitytriad'>
					<div id='eyk' class='ability' onclick="javascript:abText('eyktext');return false;">
						<p class='abhead'>Expand Your Knowledge</p>
						<div id='eyktext' class='abtext'>
							As citizes we choose who amongst us will lead our government. The Glass capitol is the most straigntforward method we have to learn how well our current government functions, and put it in the context of our history. Through pure data and our social platform it is easy for you to immunize yourself from propaganda, and be an informed voter.
						</div>
					</div>				

					<div id='fyi' class='ability' onclick="javascript:abText('fyitext');return false;">
						<p class='abhead'>Find Your Ideals</p>
						<div id='fyitext' class='abtext'>
							Each election season it is up to us to decide what our priorities are, and elect new leaders to fight for our values. We decide the direction the country will go in, and who will lead us in that direction. Through The Glass Capitol you can cut through all of the propaganda, false statements, and non-sequiters at play in the current political landscape.
						</div>
					</div>

					<div id='syicc' class='ability' onclick="javascript:abText('syicctext');return false;">
						<p class='abhead'>Share Insights & Create Coalitions</p>
						<div id='syicctext' class='abtext'>
							We are the great cooperators. Our nation boasts incredible diversity on all wavelengths. Through cooperation we can make sure our government responds to us. Through cooperation we choose who amongst us will lead us. The Glass Capitol gives you the ability to join and form coalitions to make your voice heard. You can ensure that our politicians work on issues that matter to you.
						</div>
					</div>
				</div>
				<p id='abilitytext'>
					As citizes we choose who amongst us will lead our government. The Glass capitol is the most straigntforward method we have to learn how well our current government functions, and put it in the context of our history. Through pure data and our social platform it is easy for you to immunize yourself from propaganda, and be an informed voter.
				</p>
			</div>
			<div id='needed_wrapper'>
				<h2>Why America Needs This</h2>
				<p id='want'>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
			</div>
		</div>
	</div>
	<div id='quote_wrapper'>
		<div id='quote'>
			“The essence of Government is power; and power, lodged as it must be in human hands, will ever be liable to abuse” - James Madison.
		</div> 
	</div>
	<div id='demo_wrapper'>

		<h2>Find Your Representatives</h2>
		<div id='findform_wrapper'>
			<div class='districtentry'>
				<form method='post' name='districtform' id='districtform' onsubmit="javascript:handleZip();return false;">
					<div class='formhead'>Enter Street Address</div>
		  			<input id='address' type="text" name="address" placeholder='Street Address' style='width:100%'><br>
		  			<input id='state' type="text" name="state" placeholder='State'>
		  			<input id='city' type="text" name="city" placeholder='City'>
		  			<div id='zip_submit' class='z-depth-1 dformbutton' onclick='handleZip()'>Find With Street Address</div>
				</form>
			</div>
			<div id='use_location' class='districtentry'>
				*Privacy: We never save any location data. When you use this button it is single use to find your district
				<div class="dformbutton" onclick='useLocation()'>Find With Location Data</div>
			</div>
		</div>

		<div id='demo_content' class='content z-index-1'>
			<h3>Your Representatives</h3>
			<div id='stats_container'>
				<div id='stats_slider'>
					<div id='' class='rep_wrapper'>
					Your HR
					</div>

					<div id='' class='rep_wrapper'>
					Your SS
					</div>

					<div id='' class='rep_wrapper'>
					Your JS
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='baselayer'><img id='monuments'src='/images/monuments.png'></div>

<script type="text/javascript" src="/js/landing1.js"></script>
{% endblock %}

{% block popup %}

	<div id='popesf' class='popform'>
		<div class='popclose' onclick="javascript:hidePopup('popesf');return false;">X</div>
		Get Involved <b>Sign Up</b><br><br>
		Be the First to Know:<br>
		<ul>
			<li>stay updated with development</li>
			<li>leave feedback</li>
			<li>get your issues heard</li>
		</ul>
		<form method="post" name="signup" id='esform' onsubmit="javascript:submitSign();return false;">
	        <input id='email' type="text" name="email" disabled>
	        <input id='subbutton' type='button' value='submit' onclick="javascript:submitSign();return false;">
	    </form>
	</div>

	<div id='popalpha' class='popform'>
		<div class='popclose' onclick="javascript:hidePopup('popalpha');return false;">X</div>
		<form id='alogform' method="post" onsubmit="javascript:alphaLogin();return false;">
            <table>
              <tr>
                <td class="label">
                  Username
                </td>
                <td>
                  <input type="text" id='username' name="username" value="{{username}}">
                </td>
                <td class="error">
                  {{error_username}}
                </td>
              </tr>

              <tr>
                <td class="label">
                  Password
                </td>
                <td>
                  <input id='password' type="password" name="password" value="">
                </td>
                <td class="error">
                  {{error_password}}
                </td>
              </tr>
            </table>
            <input id='subbutton' type='button' value='submit' onclick="javascript:alphaLogin();return false;">
          </form>
	</div>
{% endblock %}