{% extends "base.html" %}

{% block content %}
<link rel='stylesheet' href='css/landing.css'/>

  <div id='alphalogin'>
    <div id='alphacall' onclick="javascript:alphaExpand('alphalogin', this);return false;" value='contracted'>Already Part of the Alpha? Log In Here!</div>
    <div id='alog_container'>
      <form id='alogform' method="post">
        <table>
          <tr>
            <td class="label">
              Username
            </td>
            <td>
              <input type="text" name="username" value="{{username}}">
            </td>
            <td class="error">
              {{error_username}}
            </td>
          </tr>

          <tr>
            <td class="label">
              Password
            </td>
            <td>
              <input type="password" name="password" value="">
            </td>
            <td class="error">
              {{error_password}}
            </td>
          </tr>
        </table>

        <input type="submit">
      </form>
    </div>
  </div>

<script type="text/javascript" src="/js/landing.js"></script>
{% endblock %}