{% extends "publicbase.html" %}

{% block content %}
<link rel='stylesheet' href='css/landing1.css'/>
<div id='toplayer'>
	<div id='opening'>
		<div id='title'><img id='tlogo'src='/images/gclogo_noback.png'><b>The Glass Capitol</b></div>
		<div id='mission'>Do 2016 Differently</div>
		<div id='buttonpanel'>
			<div id='discoverbutton' class='mbutton' onclick="javascript:scrollTo('wwa');return false;">Discover How</div>
			<div class='mbutton' onclick="javascript:scrollTo('demo_wrapper');return false;">
				Find Your Reps
			</div>
			<div id='mfunctions'>
				<div id='malphalogin' class='mfun' onclick="javascript:showPopup('popalpha');return false;">
					Already Part of the Alpha?
				</div>
				<div id='mnewsletter' class='mfun' onclick="javascript:showPopup('popesf');return false;">
					Signup For Our Newsletter
				</div>
			</div>
		</div>
		<img id='flagswaving'src='/images/flagswaving.png'>
	</div>
	<div id='wwa'>
		<div id='spacers'>
			<div id='spblue'  class="spacer"></div>
			<div class='spred spacer'></div>
			<div id='spwhite' class="spacer"></div>
			<div class='spred spacer'></div>
		</div>
		<div id='wwa_content' class='content z-index-1'>
			<h3>"Of the people, by the people, for the people"</h3>
			<div id='mainprop'>
				<h2>Government Done Right.</h2>
				For those who want a better relationship with government, The Glass Capitol is our tool to do 2016 differently.
			</div>

			<div id='subprops'>
				<div class='subprop'>
					<h3 class='subprop_headline'>Just the facts, All the Facts</h3>
					The Glass Capitol is a  A single place where you can find all government related data properly sourced and un-opinionated so that you can make decisions for yourself.
				</div>
				<div class='subprop'>
					<h3 class='subprop_headline'>Politician Accountability</h3>
					Charts and trends of what politicians say and/or do with analysis so that you can put your vote where it counts.
				</div>
				<div class='subprop'>
					<h3 class='subprop_headline'>Unite with Fellow Americans</h3>
					See where your fellow citizens stand on the issues. Create coalitions and share your insights so that together we can see real policy change.
				</div>
			</div>
			<h2>Customize Your Relationship With Government!</h2>
		</div>
	</div>
	<div id='quote_wrapper'>
		<div id='quote'>
			“The essence of Government is power; and power, lodged as it must be in human hands, will ever be liable to abuse” - James Madison.
		</div> 
	</div>
	<div id='demo_wrapper'>

		<h2>Find Your Representatives</h2>
		<div id='findform_wrapper'>
			<div id='use_address' class='districtentry'>
				<form method='post' name='districtform' id='districtform' onsubmit="javascript:handleZip();return false;">
					<div class='formhead'>Enter Street Address</div>
		  			<input id='address' type="text" name="address" placeholder='Street Address' style='width:calc(100% - 4px)'><br>
		  			<input id='city' type="text" name="city" placeholder='City' style='width:calc(50% - 6px)'>
		  			<input id='state' type="text" name="state" placeholder='State Abbreviation (XX)' style='width:calc(50% - 7px)'>
		  			<div id='zip_submit' class='z-depth-1 dformbutton' onclick="javascript:useAddress();return false;">Find With Street Address</div>
				</form>
			</div>
			<div id='use_location' class='districtentry'>
				<span style='font-size:80%'>*Privacy: We never save any location data. When you use this button it is single use to find your district.</span>
				<div class="dformbutton" onclick="javascript:useLocation();return false;">Find With Location Data</div>
			</div>
		</div>

		<div id='demo_content' class='content z-index-1'>
			<div id='statdata'>
				<div id='statdescription'>
					This is the stat description
				</div>
				<h4>Stats</h4>
			</div>
			<div id='reps_container'>
				<h3>Your Representatives</h3>
				<div id='reps_slider' value='leaders'>
					<div id='hr_wrapper' class='rep_wrapper'>
						<h4>Speaker For The House</h4>
						<div id='hrpic' class='reppic_wrapper'></div>
						<div class='basic_info'>
							<div id='hrname' class='repname'>rep name</div>
							<div id='hrparty' class='repparty'>rep party</div>
							<div id='hryears' class='repyears'>years in office</div>
							<div class='partypic_wrapper'></div>
						</div>
						<div class='mobrep_spacer'></div>
						<div class='mobrep_info'>
							<table>
								<tr class='mtrow'>
									<td class='msname'>Party Loyalty</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 2 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 3 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 4 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 5 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
							</table>
						</div>
					</div>

					<div id='ss_wrapper' class='rep_wrapper'>
						<h4>Senate Majority Leader</h4>
						<div id='sspic' class='reppic_wrapper'></div>
						<div class='basic_info'>
							<div id='ssname' class='repname'>rep name</div>
							<div id='ssparty' class='repparty'>rep party</div>
							<div id='ssyears' class='repyears'>years in office</div>
							<div class='partypic_wrapper'></div>
						</div>
						<div class='mobrep_spacer'></div>
						<div class='mobrep_info'>
							<table>
								<tr class='mtrow'>
									<td class='msname'>Party Loyalty</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 2 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 3 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 4 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 5 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
							</table>
						</div>
					</div>

					<div id='js_wrapper' class='rep_wrapper'>
						<h4>Junior Senator</h4>
						<div id='jspic' class='reppic_wrapper'></div>
						<div class='basic_info'>
							<div id='jsname' class='repname'>rep name</div>
							<div id='jsparty' class='repparty'>rep party</div>
							<div id='jsyears' class='repyears'>years in office</div>
							<div class='partypic_wrapper'></div>
						</div>
						<div class='mobrep_spacer'></div>
						<div class='mobrep_info'>
							<table>
								<tr class='mtrow'>
									<td class='msname'>Party Loyalty</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 2 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 3 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 4 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
								<tr class='mtrow'>
									<td class='msname'>Stat 5 Name</td>
									<td class ='mrepstat'>X%</td> 
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id='repstable_wrapper'>
				<table id='repstable'>
					<tr id='ployalty' class='orow plrow' onmouseover="javascript:rhover('stat1');return false;">
						<td class='sname'>Party Loyalty</td>
						<td class='hrstat'>X%</td>
						<td class='ssstat'>X%</td>
						<td class='jsstat'>X%</td>
					</tr>
					<tr id='sponsored' class='erow sporow' onmouseover="javascript:rhover('stat2');return false;">
						<td class='sname'>Stat 2 Name</td>
						<td class='hrstat'>HR stat 2</td>
						<td class='ssstat'>SS stat 2</td>
						<td class='jsstat'>JS stat 2</td>
					</tr>
					<tr id='stat3' class='orow' onmouseover="javascript:rhover('stat3');return false;">
						<td class='sname'>Stat 3 Name</td>
						<td class='hrstat'>HR stat 3</td>
						<td class='ssstat'>SS stat 3</td>
						<td class='jsstat'>JS stat 3</td>
					</tr>
					<tr id='stat4' class='erow' onmouseover="javascript:rhover('stat4');return false;">
						<td class='sname'>Stat 4 Name</td>
						<td class='hrstat'>HR stat 4</td>
						<td class='ssstat'>SS stat 4</td>
						<td class='jsstat'>JS stat 4</td>
					</tr>
					<tr id='stat5' class='orow' onmouseover="javascript:rhover('stat5');return false;">
						<td class='sname'>Stat 5 Name</td>
						<td class='hrstat'>HR stat 5</td>
						<td class='ssstat'>SS stat 5</td>
						<td class='jsstat'>JS stat 5</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div id='personalmessage'>
  		<h2>To All Who Want A Better America</h2>
  		I created this site so we will have the power to make an actual difference this election. My goal is to elevate the political debate, and enable anyone to participate in it. I want to make it easy for anyone to be an active participant in government because only together can we affect real change.
	</div>
</div>
<div id='baselayer'><img id='monuments'src='/images/monuments.png'></div>

<script type="text/javascript" src="/js/landing1.js"></script>
{% endblock %}

{% block popup %}

	<div id='popesf' class='popform'>
		<div class='popclose' onclick="javascript:hidePopup('popesf');return false;">X</div>
		Get Involved <b>Sign Up</b><br><br>
		Be the First to Know:<br>
		<ul>
			<li>stay updated with development</li>
			<li>leave feedback</li>
			<li>get your issues heard</li>
		</ul>
		<form method="post" name="signup" id='esform' onsubmit="javascript:submitSign();return false;">
	        <input id='email' type="text" name="email" disabled>
	        <input id='subbutton' type='button' value='submit' onclick="javascript:submitSign();return false;">
	    </form>
	</div>

	<div id='popalpha' class='popform'>
		<div class='popclose' onclick="javascript:hidePopup('popalpha');return false;">X</div>
		<form id='alogform' method="post" onsubmit="javascript:alphaLogin();return false;">
            <table>
              <tr>
                <td class="label">
                  Username
                </td>
                <td>
                  <input type="text" id='username' name="username" value="{{username}}">
                </td>
                <td class="error">
                  {{error_username}}
                </td>
              </tr>

              <tr>
                <td class="label">
                  Password
                </td>
                <td>
                  <input id='password' type="password" name="password" value="">
                </td>
                <td class="error">
                  {{error_password}}
                </td>
              </tr>
            </table>
            <input id='subbutton' type='button' value='submit' onclick="javascript:alphaLogin();return false;">
          </form>
	</div>
{% endblock %}