{% extends "base.html" %}

{% block content %}

<div id='pagenav'>
	<ul>
		<li><p onclick="javascript:scrollTo('composition');return false;">Composition</p></li
		><li><p onclick="javascript:scrollTo('effictiveness');return false;">Effectiveness</p></li
		><li><p onclick="javascript:scrollTo('budget');return false;">Budget</p></li
		><li><p onclick="javascript:scrollTo('taxes');return false;">Taxes</p></li>
	</ul>
</div>

<div id='composition' class='section'>
	<h4>Composition</h4>
</div>

<div id='effectiveness' class='section'>
	<h4>Effictiveness</h4>
</div>

<div id='budget' class='section'>
	<h4>Budget</h4>
</div>

<div id='taxes' class='section'>
	<h4>Taxes</h4>
</div>
<script type="text/javascript" src="/js/inpage.js"></script>
{% endblock %}