{% extends "base.html" %}

{% block content %}

<div id='pagenav'>
	<ul>
		<li><p onclick="javascript:scrollTo('hr');return false;">My Representative</p></li
		><li><p onclick="javascript:scrollTo('ss');return false;">My Senior Senator</p></li
		><li><p onclick="javascript:scrollTo('js');return false;">My Junior Senator</p></li>
	</ul>
</div>

<div id='hr' class='section'>
	<h4>My Representative</h4>
</div>

<div id='ss' class='section'>
	<h4>My Senior Senator</h4>
</div>

<div id='js' class='section'>
	<h4>My Junior Senator</h4>
</div>

<script type="text/javascript" src="/js/inpage.js"></script>

{% endblock %}