{% extends "newbase.html" %}

{% block content %}
<div id='feedback'>
  <h1>Help Us Improve</h1>
  <h2>We want you to get the most possible out of our site</h2>

  <div id='feedbackform-wrapper' value='500'>
    <div id='formdisplay'>
      <form id='feedback-form' method='post'>
        <div id='feedback-fs0' class='feedback-fs whiteback'>
          <div class='feedback-fs-q'>Do you think our government listens to you?</div>
          <input type='radio' name='listens' value='1'>Yes<br><br>
          <input type='radio' name='listens' value='0'>No<br><br>
          <div id='use-location' class='bluebutton button centered' onclick="javascript:feedbackScroll('right');return false;">Next</div>
        </div> 
        <div id='feedback-fs1' class='feedback-fs whiteback'>
          <div class='feedback-fs-q'>Do you want to be a more active participant in government?</div>
          <input type='radio' name='activepart' value='1'>Yes<br><br>
          <input type='radio' name='activepart' value='0'>No<br><br>
          <div id='use-location' class='bluebutton button centered' onclick="javascript:feedbackScroll('right');return false;">Next</div>
        </div>
        <div id='feedback-fs2' class='feedback-fs whiteback'>
          <div class='feedback-fs-q'>Would you be a more active participant in government if it were easier?</div>
          <input type='radio' name='easierpart' value='1'>Yes<br><br>
          <input type='radio' name='easierpart' value='0'>No<br><br>
          <div id='use-location' class='bluebutton button centered' onclick="javascript:feedbackScroll('right');return false;">Next</div>
        </div>
        <div id='feedback-fs3' class='feedback-fs whiteback'>
          <div class='feedback-fs-q'>What are your top issues this election?</div>
          <div id='checkbox-area'>
            <div class='checkboxinput'><input type='checkbox' {{envir}} name='environment' value='1'>Environment and Science</div>
            <div class='checkboxinput'><input type='checkbox' name='criminaljustice' value='1'>Criminal Justice</div>
            <div class='checkboxinput'><input type='checkbox' name='health-care' value='1'>Health Care</div>
            <div class='checkboxinput'><input type='checkbox' name='privacy' value='1'>Privacy and Data Security</div>
            <div class='checkboxinput'><input type='checkbox' name='education' value='1'>Education</div>
            <div class='checkboxinput'><input type='checkbox' name='campaigns' value='1'>Campaign Finance and Lobbying</div>
            <div class='checkboxinput'><input type='checkbox' name='social-issues' value='1'>Social Issues</div>
            <div class='checkboxinput'><input type='checkbox' name='guns' value='1'>Gun Control</div>
            <div class='checkboxinput'><input type='checkbox' name='immigration' value='1'>Immigration</div>
            <div class='checkboxinput'><input type='checkbox' name='economy' value='1'>The Economy</div>
            <div class='checkboxinput'><input type='checkbox' name='foreign-policy' value='1'>Foreign Policy</div>
            <div class='checkboxinput'><input type='checkbox' name='terrorism' value='1'>Terrorism</div>
          </div>
          <div id='use-location' class='bluebutton button centered' onclick="javascript:feedbackScroll('right');return false;">Next</div>
        </div>
        <div id='feedback-fs4' class='feedback-fs whiteback'>
          <h2>Thank you for your feedback!</h2>
          <div class='feedback-fs-q'>We strive to be as responsive as possible to every suggestion</div>
          <input type='text' name='email' class='medium-text-input' placeholder='Enter Your Email'>
          <input class='bluebutton button centered' type='submit' value='Submit'>
        </div>
      </form>
      <div id='formcontrols'>
        <div id='form-position-indicator'>
          <div id='fpi-0' class='fpi' onclick="javascript:feedbackScroll('n','0');return false;"style='background:#0E1C32'></div>
          <div id='fpi-1' class='fpi' onclick="javascript:feedbackScroll('n','1');return false;"></div>
          <div id='fpi-2' class='fpi' onclick="javascript:feedbackScroll('n','2');return false;"></div>
          <div id='fpi-3' class='fpi' onclick="javascript:feedbackScroll('n','3');return false;"></div>
          <div id='fpi-4' class='fpi' onclick="javascript:feedbackScroll('n','4');return false;"></div>
        </div>
      </div>
    </div>
  </div>

  <div id='back-to-top' onclick="javascript:scrollTo('top');return false;">Back To Top</div>
        
</div>

<style>
  #feedback{text-align:center;padding-top:50px;}
  #feedbackform-wrapper{margin:50px auto;width:1000px;max-width:80vw;}
  #formcontrols{position:relative;display:flex;justify-content:center;}
  .form-direction{background:#0E1C32;color:white;padding:20px;width:100px;font-weight:bold;cursor:pointer;border-radius:500px;border:double 2px;}
  .form-direction:hover{background:#162D50;}
  #form-position-indicator{margin:0 20px;}
  #feedback-form{text-align:left;}
  .fpi{position:relative;display:inline-block;height:19px;width:19px;border-radius:50%;border:solid 1px #D9D9D9;margin:20px 5px 0 5px;background:white;cursor:pointer;}
  .feedback-fs{width:274px;padding:40px;margin:0 auto;background:white;margin-bottom:40px;display:none;border-radius:2px;}
  .feedback-fs-q{font-size:18px;margin-bottom:40px;}
  #feedback-fs0{display:block;}
  #feedback-fs3{width:550px;max-width:95vw;}
  #checkbox-area{display:flex;flex-wrap:wrap;justify-content:space-between;}
  .checkboxinput{width:274px;margin-bottom:20px;}
  .feedback-textarea{width:100%;border-radius:2px;}
</style>

<script>
  //helper function to reset all position indicators
  //<div id='use-location' class='bluebutton button centered' onclick="javascript:submitFeedback();return false;">Submit</div>
  function indicatorColor(i){
    $('.fpi').each(function(index){$(this).css('background','white')})
    $('#fpi-'+i).css('background','#0E1C32')
    $('.feedback-fs').each(function(index){$(this).css('display','none')})
    $('#feedback-fs'+i).css('display','block')
    fadeIn('feedback-fs'+i)
  }
  function feedbackScroll(direction, newpos){
    if(newpos){
      np = parseInt(newpos) + 500
      $('#feedbackform-wrapper').attr('value', np)
      indicatorColor(newpos)

    }else{
      current = Math.abs($('#feedbackform-wrapper').attr('value'))
      if(direction == 'left'){newd = current - 1;}
      else{newd = current + 1}
      $('#feedbackform-wrapper').attr('value', newd)
      c = newd % 5
      console.log(c)
      indicatorColor(c)
    }
  }

  function submitFeedback(){
    console.log('submitting feedback')

  }
</script>


{% endblock %}