<!DOCTYPE html>
  <html>
    <head>
      <title>The Glass Capitol</title>
      <link rel='stylesheet' href='css/newbase.css'/>
      <!--Import materialize.css-->
      <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
      <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
      <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
      <script src='https://www.google.com/recaptcha/api.js'></script>
      <script type="text/javascript" src="/js/newbase.js"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body>
      <div id='top-bar' class='z-index-1'>
        <img id='hmenu' src='/images/hmenu.png' alt='...' onclick="javascript:navShowHide();return false;">
      </div>
      <input type='hidden' id="page-data" value="{{PAGESTATE}}">
      <div id='popuplayer'>
        {% block popup %}
        {% endblock %}
      </div>
      <div id='nav-container' value='contracted'>
        <nav id='nav'>
          <ul>
            <li id='election_option' class='nav_option' value='contracted'>
              <a href='/election'>2016 Election</a>
              <div id='mrepexp' class='mexp' onclick="javascript:submarine('mrep_option', 'mrepexp');return false;"></div>
            </li>
            <li id='reps_option' class='nav_option' value='contracted'>
              <a href='/reps'>My Representatives</a>
              <div id='ccompexp' class='mexp' onclick="javascript:submarine('ccomp_option', 'ccompexp');return false;"></div>
            </li>
            <li id='news_option' class='nav_option' value='contracted'>
              <a href='/news'>News</a>
              <div id='ccompexp' class='mexp' onclick="javascript:submarine('ccomp_option', 'ccompexp');return false;"></div>
            </li>
            <li id='feedback_option' class='nav_option' value='contracted'>
              <a href='/feedback'>Feedback</a>
              <div id='ccompexp' class='mexp' onclick="javascript:submarine('ccomp_option', 'ccompexp');return false;"></div>
            </li>
            <li id='sources_option' class='nav_option' value='contracted'>
              <a href='/sources'>Sources</a>
              <div id='ccompexp' class='mexp' onclick="javascript:submarine('ccomp_option', 'ccompexp');return false;"></div>
            </li>
            <li id='about_option' class='nav_option' value='contracted'>
              <a href='/about'>About</a>
              <div id='pcompexp' class='mexp' onclick="javascript:submarine('pcomp_option', 'pcompexp');return false;"></div>
            </li>
          </ul>
        </nav>
      </div>
      <div id='head'>
        <a href='/' id='title' class='subtle-link'>The Glass Capitol</a>
        <div id='slogan'>Government Transparency For The Communication Era</div>
        <img id='centerpiece' src='/images/fullglasscapitol.png' alt='...'>
        {% block pagenav %}{% endblock %}
      </div>
      <div id='content'>
        {% block content %}
        {% endblock %}
      </div>
      
      <div id='footer'>
        <div id='sitemap' class='foottext'>
          <h3 style='padding-left:10px;width:100%;margin-bottom:15px'>Site Map</h3>
          <div class='sitemap-link'>
            <a class='footer-link redlink' href='/home'>Home</a>
            <ul class='footer-sublinks'>
              <a class='whitelink' href='/home?s=news'>News</a><br>
              <a class='whitelink' href='/home?s=election'>Election</a><br>
              <a class='whitelink' href='/home?s=reps'>My Reps</a>
            </ul>
          </div>
          <div class='sitemap-link'>
            <a class='footer-link redlink' href='/election'>Election</a>
            <ul class='footer-sublinks'>
              <a class='whitelink' href='/election?s=standings'>Standings</a><br>
              <a class='whitelink' href='/election?s=candidates'>Candidates</a><br>
              <a class='whitelink' href='/election?s=primaries'>Primaries</a>
            </ul>
          </div>
          <div class='sitemap-link'><a class='footer-link redlink' href='/feedback'>Feedback</a></div>
          <div class='sitemap-link'><a class='footer-link redlink' href='/about'>About</a></div>
          <div class='sitemap-link'><a class='footer-link redlink' href='/sources'>Sources</a></div>
        </div>
        <div id='footcontributions'>
          <h1 id='footer-banner'>Together We Can Forge A More Responsive Government</h1>
          <form id='footer-esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
            <input type='text' name='esfemail' id='footer-esfemail' class='medium-text-input' placeholder='Enter Email'>
            <input id='footer-esfsubmit' type='button' value='Submit' onclick="javascript:submitESF();return false;">
          </form>
        </div>
      </div>
      <div id='footfoot'>
          <img id='footlogo' src='/images/awlogo.png'>The Glass Capitol © 2015
      </div>
      <style>
      #footer{position:relative;display:flex;flex-wrap:wrap;}
      #sitemap{width:50%;max-width:95vw;display:flex;flex-wrap:wrap;}
      .footer-sublinks{padding:0;}
      .sitemap-link{margin:0 10px;}
      .redlink{color:#CC0000 !important;text-decoration:none;cursor:pointer;}
      .redlink:hover{text-decoration:underline;}
      .redlink:visited{color:#CC0000;}
      .whitelink{color:white !important;}
      #footer-banner{margin-bottom:50px;}
      #footer-esfform{display:flex;width:765px;max-width:100%;}
      #footer-esfemail{background:none;color:#CC0000;border:none;border-bottom:solid #CC0000 2px;margin-bottom:0;font-size:30px;}
      #footer-esfemail::-webkit-input-placeholder{color:#CC0000;}
      #footer-esfsubmit{display:inline-block;border-bottom:solid #CC0000 2px;background:none;color:#CC0000;font-weight:bold;cursor:pointer;}
      #footer-esfsubmit:hover{color:red;}
      </style>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

    </body>