{% extends "newbase.html" %}
{% block content %}
<div id='news' class='tab t1'>
<div class='tab-content'>
	<h1 class='tab-title'>Current News</h1>
	<div id='feeds-container'>
		<div id='left-feed-wrapper' class='feed-wrapper whiteback'>
			<h3 id='left-feed-title' class='feed-title'>Leaning Left</h3>
			<div id="left-feed"></div>
		</div>
		<div id='center-feed-wrapper' class='feed-wrapper whiteback'>
			<h3 id='center-feed-title' class='feed-title'>Center</h3>
			<div id="center-feed"></div>
		</div>
		<div id='right-feed-wrapper' class='feed-wrapper whiteback'>
			<h3 id='right-feed-title' class='feed-title'>Leaning Right</h3>
			<div id="right-feed"></div>
		</div>
	</div>
				<div id='fl-template'>
				<div class='fl'>
					<a href='ELINK' target='blank' class='fl-title'>ETITLE</a>
					<div class='fl-description'><span class='fl-date'>EDATE • </span>EDESC</div>
					<div class='fl-source'>ESOURCE</div>
					<a href='RLINK' target='blank' class='redlink'>Read More -></a>
				</div>
				</div>
</div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
	google.load("feeds", "1");
	google.setOnLoadCallback(home_feed)
	function home_feed(){
		var leftfeedlist = [
	        {"name":"The Atlantic","rss":"http://feeds.feedburner.com/AtlanticPoliticsChannel","ideology":2},
	        {"name":"Politico","rss":"http://www.politico.com/rss/politicopicks.xml","ideology":2},
	        {"name":"The New York Times","rss":"http://rss.nytimes.com/services/xml/rss/nyt/Politics.xml","ideology":2},
	        {"name":"The Huffington Post","rss":"http://feeds.huffingtonpost.com/c/35496/f/677086/index.rss","ideology":1}
	    ]
	    loadFeed(leftfeedlist,'#left-feed')
	    var centerfeedlist = [
	        {"name":"NPR","rss":"http://www.npr.org/rss/rss.php?","ideology":3},
	        {"name":"Wall Street Journal","rss":"http://online.wsj.com/xml/rss/3_7085.xml","ideology":3},
	        {"name":"Christian Science Monitor","rss":"http://rss.csmonitor.com/feeds/usa","ideology":3},
	        {"name":"CNN","rss":"http://rss.cnn.com/rss/cnn_allpolitics.rss","ideology":3}
	    ]
	   	loadFeed(centerfeedlist,'#center-feed')
	   	var rightfeedlist = [
	        {"name":"FOX","rss":"http://feeds.foxnews.com/foxnews/politics","ideology":5},
	        {"name":"Washington Times","rss":"http://www.washingtontimes.com/rss/headlines/news/politics/","ideology":4},
	        {"name":"Herritage","rss":"http://www.heritage.org/static/rss/reports.xml","ideology":5},
	        {"name":"The Blaze","rss":"http://www.theblaze.com/stories/feed/","ideology":5},
	    ]
	   	loadFeed(rightfeedlist,'#right-feed')
	}
	function RssEntry(date,title,link,description,source,ideology) {
  		this.date = new Date(date);
  		this.title = title;
		this.link = link;
		this.description = description;
		this.source = source;		
	}
	function compareDate(a, b) {
		if (a.date < b.date)
			return 1;
		if (a.date > b.date)
			return -1;
		return 0;
	}
	function loadFeed(feedlist,cid) {

		var entries = [];
		var numFeeds = feedlist.length;
	 
		for (var i = 0; i < feedlist.length; i++) {
			var name = feedlist[i]["name"]
			var ideology = feedlist[i]["ideology"]
			var feed = new google.feeds.Feed(feedlist[i]["rss"]);
			feed.setNumEntries(3);
			feed.load(function(result) {
			 	if (!result.error) {
					for (var j = 0; j < result.feed.entries.length; j++) {
						var rawEntry = result.feed.entries[j];
						entries.push(new RssEntry(rawEntry.publishedDate,rawEntry.title,rawEntry.link,rawEntry.contentSnippet,result.feed.title,ideology));
					}
	 
					numFeeds--;
					if (numFeeds == 0) {
						entries.sort(compareDate);
						var container = $(cid);
						for (var k = 0; k < entries.length; k++) {
							var ht = $("#fl-template").html()
							strdate = (entries[k].date.getMonth() + 1) + '/' + entries[k].date.getDate() + '/' +  entries[k].date.getFullYear()
					        ht = ht.replace('ELINK',entries[k].link)
					        ht = ht.replace('RLINK',entries[k].link)
					        ht = ht.replace('ETITLE',entries[k].title)
					        ht = ht.replace('EDATE',strdate)
					        ht = ht.replace('EDESC',entries[k].description)
					        ht = ht.replace('ESOURCE',entries[k].source)
					        container.append(ht)
						}
					}	
			 	}
			});	
		}
	}
</script>

<style>
	#feeds-container{display:flex;justify-content:space-between;}
	.feed-wrapper{width:calc(31.5% - 40px);padding:25px;}
	.feed-title{padding-bottom:10px;margin-bottom:25px;text-align:center;}
	#left-feed-title{color:#1a53ff;border-bottom:solid 2px #1a53ff;}
	#center-feed-title{color:#9900cc;border-bottom:solid 2px #9900cc;}
	#right-feed-title{color:#cc0000;border-bottom:solid 2px #cc0000;}
	.fl{margin-top:15px;padding-bottom:25px;border-bottom:solid 1px #d9d9d9;}
	.fl-title{display:block;cursor:pointer;color:#1a53ff;font-weight:bold;font-size:115%;margin-bottom:5px;}
	.fl-title:visited{color:#660066;}
	.fl-description{color:#595959;}
	.fl-date{color:#8c8c8c;}
	#fl-template{display:none;}
</style>
{% endblock %}