{% extends "publicbase.html" %}

{% block content %}
	<link rel='stylesheet' href='css/nlanding.css'/>
	<script type="text/javascript" src="/js/vprop.js"></script>
	<div id='opening'>
		<h1>Government Transparency At Its Finest</h1>
		<h3>All the facts to inform us, and a network to unite us</h3>
		<img id='centerpiece' src='/images/fullglasscapitol.png' alt='...'>
	</div>

	<div class='section'>
		<div id='factsblurb' class='vpoint leftpane'>
			<h2>Just The Facts, All The Facts</h2>
			<h4>A single place where you can find all government related data properly sourced and un-opinionated so that you can make decisions for yourself.</h4>
		</div>
		
		<div id='partycomp' class='visual rightpane'>
			<h4 class='visualtitle'>The Party Platforms</h4>
			<table id='pcomptable'>
				<tr id='pcomptitles'>
					<td></td>
					<td class='dem'>Democrats</td><td>VS</td>
					<td class='repub'>Republicans</td>
				</tr>
				<tr>
					<td></td><td class='dem'>
						<img src='/images/hillary_headshot.png'>
						<img src='/images/bernie_headshot.png'>
						<img src='/images/martin_headshot.png'>
					</td>
					<td></td><td class='repub'>
						<img src='/images/trump_headshot.png'>
						<img src='/images/cruz_headshot.png'>
						<img src='/images/rubio_headshot.png'>
					</td>
				</tr>
				<tr>
					<td class='issue'>The Economy</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Environment & Science</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Criminal Justice</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Health Care</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Privacy & Data Security</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Education</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
				<tr>
					<td class='issue'>Religion & Social Issues</td>
					<td class='dem'>XXXX</td><td></td>
					<td class='repub'>XXXX</td>
				</tr>
			</table>
		</div>
	</div>

	<div class='section'>
		<div id='investigateblurb' class='vpoint rightpane'>
			<h2>Make Your Own Conclusions</h2>
			<h4>When we can all see and discuss our government's record clearly we can make the best decisions at the voting booths.</h4>
		</div>
		<div id='effectiveness' class='visual leftpane'>
			this will be an interactive section to help people develop their positions on different issues or policies. It's goal is to show users where their hidden bias and be a way to mitigate it
		</div>
	</div>

	<div class='section'>
		<div id='connectionblurb' class='vpoint leftpane'>
			<h2>Personalize Your Connection To Government</h2>
			<h4>Your representative's voting record for you to judge with issues you care about front and center.</h4>
		</div>
		<div id='findreps' class='visual rightpane'>
			this section is where people can either use location data or enter an address to see a basic analysis of their congress people. Initially it'll show the leaders of the current congress, Paul Ryan, and Mitch McConnel
		</div>
	</div>

	<div class='section'>
		<div id='freedomblurb' class='vpoint rightpane'>
			<h2>Free Yourself From Traditional Media</h2>
			<h4>Wave goodbye to the clamour and inherent bias of traditional media.</h4>
		</div>
		<div id='current_standings' class='visual leftpane'>
			<input id='dataref' value='/pull/polldata,dem_national,repub_national' type='hidden'>
			<h3 class='visualtitle'>Current National Standings</h3>
			<div id='partyselector'>
				<div id='dem_select' class='partyselect dem' onclick="javascript:partySelect('D');return false;">Democrats</div>
				<div id='repub_select' class='partyselect repub' onclick="javascript:partySelect('R');return false;">Republicans</div>				
			</div>
			<div id='dem_national' class='graphback'>
			</div>
			<div id='repub_national' class='graphback'>
			</div>
			<div id='tableback'></div>
		</div>
	</div>

{% endblock %}