

	<h1 id='isscroll-head' value='0'>Your opinion is what matters</h1>
	<form id='user-view-form' class='whiteback' value='unset'>
		<input type='hidden' id='issuename' name='issuename' value=''>
		<div id='user-view-prompt'>Campaign Finance and Lobbying</div>
		<input type='text' id='userview' name='userview' placeholder='Enter your view on this issue in your own words (max 120 characters)'>
		<div id='set-view-text'></div>
		<div id='user-view-action' class='redbutton' onclick="javascript:setView('missed-issue-wrapper');return false;">Set Your View -></div>
	</form>
	<div id='issue-scroll-wrapper'>
		<div id='views-wrapper'>
			<h3 class='is-title'>Prominent views</h3>
			<ul id='views-list'>
				<li class='view'>A prominent view from candidate, party, or pundit. Clicking this button imports this view as the user's. Blind<div id='ag-1'class='agbutton'>I agree</div></li>	
				<li class='view'>A prominent view from candidate, party, or pundit. Clicking this button imports this view as the user's. Blind<div id='ag-2'class='agbutton'>I agree</div></li>
				<li class='view'>A prominent view from candidate, party, or pundit. Clicking this button imports this view as the user's. Blind<div id='ag-3'class='agbutton'>I agree</div></li>
				<li class='view'>A prominent view from candidate, party, or pundit. Clicking this button imports this view as the user's. Blind<div id='ag-4'class='agbutton'>I agree</div></li>
				<li class='view'>A prominent view from candidate, party, or pundit. Clicking this button imports this view as the user's. Blind<div id='ag-5'class='agbutton'>I agree</div></li>
			</ul>
		</div>
		<div id='context-wrapper'>
			<h3 class='is-title'>Context</h3>
			there will be historical context, as well as any graphs, statistics, or figures that could possible help a user gain context on the given issue
		</div>
	</div>


