
	<h1 id='isscroll-head' value='0'>Your opinion is what matters</h1>
	<form id='user-view-form' class='whiteback' value='unset'>
		<input type='hidden' id='issuename' name='issuename' value=''>
		<div id='user-view-prompt'>Campaign Finance and Lobbying</div>
		<div id='set-view-text'>There is too much money in politics. The system is corrupt</div>
		<div id='user-view-action'>Change view</div>
	</form>

	<div id='choice-wrapper'class='whiteback'>
		<div id='candidate-default' class='candidate-wrapper'>
			<h3>candidate agrees with you most</h3>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-1' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>		
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-2' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-3' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-4' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-5' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-6' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-7' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-8' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-9' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-10' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
		<div id='' class='candidate-wrapper'>
			<div class='candidate-pic-wrapper'></div>
			<div class='candidate-text'>this is dummy text replacing a candidate's most recent or most popular statements on a given issue</div>
			<div id='ccb-11' class='candidate-choose redbutton' onclick="javascript:chooseCandidate();return false;">choose</div>
		</div>
	</div>

