{% extends "publicbase.html" %}

{% block content %}
<div id='issue-list-holder'>
</div>
<div id='onboarding'>
	<div id='nav_wrapper'>
		<img id='toplogo' src='/images/awlogo.png'>The Glass Capitol
	</div>
	<h1 id='signup-head'>Set Your Own Agenda</h1>
	<div id='issue-rank-form' class='whiteback'>
		<h3 id='formhead'>Put what matters to you on top</h3>
		<div class='low-prom-text'>**Don't worry, you can change this list at any time</div>
		<ul id='issue-list'>
			<li class='issue'>Environment and Science</li>
			<li class='issue'>Criminal Justice</li>
			<li class='issue'>Health Care</li>
			<li class='issue'>Privacy and Data Security</li>
			<li class='issue'>Education</li>
			<li class='issue'>Campaign Finance and Lobbying</li>
			<li class='issue'>Social Issues</li>
			<li class='issue'>Gun Control</li>
			<li class='issue'>Immigration</li>
			<li class='issue'>The Economy</li>
			<li class='issue'>Foreign Policy and Terrorism</li>
		</ul>
		<input type='button' id='nextbutton' value='next' onclick="javascript:submitIssueList();return false;">
		<div id='missed-issue-wrapper' value='contracted'>
			<div class='action-text' onclick="javascript:expandForm('missed-issue-wrapper');return false;">Don't see your issue?</div>
			<form id='missed-issue-form'>
				<h4>What issue did we miss?</h4>
				<input type='text' id='missedissue' name='missedissue' class='signupinput'>
				<h4>Why is this issue important to you?</h4>
				<textarea id='mi-why' name='mi-why' class='signupinput' style='height:50px'></textarea>
			</form>
		</div>
	</div>
	<div id='demo-info' class='whiteback'>
		<h3>For TGC people</h3>
		Just some thoughts on how this page can improve
		<ul>
			<li>when users hover on an issue, historical context and current views on that issue are shown (beginnings of that context cloud)</li>
			<li>we need to make this as easy as possible.. somehow</li>
			<li>perhaps we could offer preset agendas based on parties or candidates</li>
			<li>still, we want the user to complete this with as little influence as possible</li>
		</ul>
	</div>
</div>

<div id='footfoot'>
  <img id='footlogo' src='/images/awlogo.png'>The Glass Capitol™ Founded 2015
</div>

<style>
	h1,h2,h3,h4{font-weight:normal;margin:0;}
	h3{font-size:20px;}
	form h4{font-size:12px;font-weight:bold;}
	.low-prom-text{text-align:left;font-size:12px;color:#737373;}
	.action-text{font-size:12px;height:20px;line-height:20px;font-weight:bold;color:#BF0000;cursor:pointer;}
	.action-text:hover{color:red;}
	#onboarding{min-height:calc(100vh - 91px)}
	#badge, #titlebar,#nav_container{display:none}
	#nav_wrapper{padding-left:60px;position:relative;height:70px;line-height:70px;background:white;border-bottom:solid 1px #d9d9d9;padding-top:10px}
	#toplogo{display:block;position:absolute;height:90%;left:10px;}
	#signup-head{text-align:center;font-size:38px;padding:20px 0;margin:0 0 40px 0}
	#issue-rank-form{display:block;margin:0 auto 40px auto;width:312px;padding:25px;text-align:center;}
	#formhead{text-align:center;margin-bottom:20px;}
	#issue-list{list-style:none;padding:0;}
	#issue-list li{position:relative;}
	.issue{display:block;margin:2px 0;height:25px;border-bottom:solid 1px #d9d9d9;background:white;}
	#nextbutton{width:100%;height:34px;margin-bottom:10px;}
	#missed-issue-wrapper{overflow:hidden;height:20px;}
	.signupinput{margin-bottom:20px;padding-left:10px;height:25px;width:calc(100% - 15px);border-radius:2px;border:solid 1px #d9d9d9;background:#F2F2F2;}
	#demo-info{position:absolute;top:100px;right:10px;width:300px;}
	#issue-list-holder{display:none;}
	#footer{display:none;}
	#footfoot{position:relative;background:white;border-top:solid 1px #D9D9D9;}
</style>

<script>
function submitIssueList(){
	var issuelist = ''
	$('#issue-list li').each(function(index){
		line = $(this).text()+','
		issuelist +=line
	});
	console.log(issuelist)
	$.post("/onboarding",{type:"issuelist",list:issuelist}, function(data){
		$('#issue-list-holder').html(issuelist)
		$('#onboarding').html(data)
	});
}

function expandForm(id){
  //expand
  if ($('#'+id).attr('value') == 'contracted'){
    var currheight = $('#'+id).css('height')
    var autoheight = $('#'+id).css('height','auto').height()
    $('#'+id).height(currheight).animate({height:autoheight}, 350, function(){$('#'+id).attr('value','expanded')})
  } else{ //contract
    $('#'+id).animate({height:"20px"}, 350, function(){$('#'+id).attr('value','contracted')})
  }
}
$(function() {
	$( "#issue-list" ).sortable();
	$( "#issue-list" ).disableSelection();
});
</script>
{% endblock %}

