{% extends "newbase.html" %}

{% block content %}
<div id='marketing'>
  <h1 class='title-text'>We are working hard to become your connection to our government and Elections</h1>
  <h2 class='title-text'>Our site is currently under construction and every ounce of feedback helps!</h2>
  <div id='marketing-content'>
    <div id='next' class='column'>
      <h2>We have a ton in the works</h2>
      <h3>These are some of the projects we're currently pursuing</h3>
      <ul>
        <li>Election tracking station</li>
        <li>Live Election Results</li>
        <li>Matching you to politicians that support your views</li>
        <li>A tool to actively participate in our election</li>
        <li>Live tracking of the campaign funds held both by presidential candidates and your representatives</li>
        <li>In depth context for each of the big issues in 2016</li>
        <li>Contacting your representatives regarding bills on the floor</li>
      </ul>
    </div>

    <div id='link-wrapper' class='column'>
      <a class='link whitelink' href='/' target='blank'>See The Current Site</a>
      <a class='link whitelink' href='/feedback' target='blank'>Leave Feedback</a>
    </div>

    <div id='column-1' class='column'>
      <div id='teamprofile'>
        <div id='amth'>
          <div class='profilepic'></div>
          <h4>Alex Haynes</br>Founder & Lead Developer</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div id='ss' class='teammember'>
          <div class='profilepic'></div>
          <h4>Steven Schweinhart</br>Database Architect & Data Acquisition</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div id='js' class='teammember'>
          <div class='profilepic'></div>
          <h4>Jordan Smith</br>Marketing & Business Liason</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div id='da' class='teammember'>
          <div class='profilepic'></div>
          <h4>Daniel Altman</br>Legal Consultant & Editor</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div id='aw' class='teammember'>
          <div class='profilepic'></div>
          <h4>Aaron Wiggen</br>Video Production</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div id='kk' class='teammember'>
          <div class='profilepic'></div>
          <h4>Kshma Kulkarni</br>Editor in Cheif</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>

        <div id='tc' class='teammember'>
          <div class='profilepic'></div>
          <h4>Travis Cook</br>Data Analyst & Designer</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
      <div id='mission'>
        <h3>Our Mission</h3>
        <ul>
          <li>Create a greater knowledge base of our nation’s workings through well presented, simple to analyze data, that is open and honest about potential biases.</li>
          <li>Elevate the political debate by providing unbiased information and a networking platform for Americans to critically think about and enact change in our government.</li>
          <li>Hold our government and political media to higher standard of truth and transparency.</li>
          <li>Make involvement and engagement in politics easy and accessible to everyone.</li>
        </ul>
      </div>
    </div>
  </div>
</div>


<style>
  #marketing{padding:100px 5vw;}
  #marketing-content{display:flex;justify-content:space-between;margin-top:50px;}
  .column{max-width:30%;}
  .teammember{display:none;}
  .title-text{text-align:center;}
  .link{display:block;font-size:26px;width:100%;padding:50px 20px;text-align:center;background:darkred;border:double white 5px;color:white;font-weight:bold;border-radius:50%;margin-top:50px;}
  .link:hover{background:#A30000;}
</style>

<script>
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

// A $( document ).ready() block.
$( document ).ready(function() {
    tm = getParameterByName('tm')
    if (tm=='ss'||tm=='js'||tm=='da'||tm=='aw'||tm=='kk'||tm=='tc'){
    $('#amth').css('display','none')
    $('#'+tm).css('display','block')
  }
});
</script>
{% endblock %}