<!DOCTYPE html>
  <html>
    <head>
      <title>The Glass Capitol</title>
      <link rel='stylesheet' href='css/publicbase.css'/>
      <!--Import materialize.css-->
      <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Alex+Brush|Parisienne|UnifrakturCook:700|UnifrakturMaguntia|Cookie|Playball' rel='stylesheet' type='text/css'>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"/>
      <script type="text/javascript" src="/js/jquery-2.1.3.min.js"></script>
      <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
      <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    </head>

    <body>
      <div id='popuplayer'>
        {% block popup %}
        {% endblock %}
      </div>

      <div id='badge' class='z-index-2'>
        <img id='logo'src='/images/gclogo_noback.png' style='height:100%;'>
        The Glass Capitol
      </div>

      <div id='nav_expand' onclick="javascript:expandGlobalNav();return false;" value='contracted'>
        <img id='expand' src='/images/hmenu.png' style='width:50px;height:50px;'>
      </div>

      <div id='titlebar' class='z-index-1'></div>

      <div id='nav_container'>
        <nav id='nav'>
          <ul>
            <li id='home_option' class='nav_option' value='contracted'>
              <a href='/'>Vprop</a>
            </li>
            <li id='mrep_option' class='nav_option' value='contracted'>
              <a href='/prop'>Interactives</a>
              <div id='mrepexp' class='mexp' onclick="javascript:submarine('mrep_option', 'mrepexp');return false;"></div>
            </li>
            <li id='pcomp_option' class='nav_option' value='contracted'>
              <a href='/about'>About Us</a>
              <div id='pcompexp' class='mexp' onclick="javascript:submarine('pcomp_option', 'pcompexp');return false;"></div>
            </li>
            <li id='ccomp_option' class='nav_option' value='contracted'>
              <a href='/sources'>Sources</a>
              <div id='ccompexp' class='mexp' onclick="javascript:submarine('ccomp_option', 'ccompexp');return false;"></div>
            </li>
          </ul>
        </nav>
        <div id='nav_close' onclick="javascript:expandGlobalNav();return false;"></div>
      </div>

      <div id='pagenav_expand'>
        M
      </div>

      <div id='pagenav'>
        {% block pagenav %}
        {% endblock %}
      </div>

      <script type="text/javascript" src="/js/publicbase.js"></script>
      <div id='content'>
      
      {% block content %}
      {% endblock %}
        
      </div>
      
      <div id='footer'>
        <div id='footsocial'class='foottext'>
          <h2>Follow Us on Social Media</h2>
          <div id='footsocioconline'>
            <div class='footsociocon'></div>
            <div class='footsociocon'></div>
            <div class='footsociocon'></div>
            <div class='footsociocon'></div>
            <div class='footsociocon'></div>
          </div>
        </div>
        <div id='footcontributions'>
          <div id='footcontact' class='footcontribution'>
            <h3>Help Us Improve</h3>
            Join Our Email List For
            <ul>
              <li>first access to stats and insights</li>
              <li>participate in surveys</li>
              <li>ensure your issues are featured</li>
            </ul>
            <form>
              <input id='footemail' name='footemail' class='footcontactinput' type='text' placeholder='Enter Email'></br>
              <textarea id='footmessage' name='footmessage' class='footcontactinput' placeholder='Tell Us What You Think'></textarea>
            </form>
          </div>
          <div id='footdonate' class='footcontribution'>
            <h3>Keep Us Pure</h3>
            We want to ensure that The Glass Capitol is free of bias, and advertisement free. That is why we are relying on individual donations to fund this website. We really appreciate anything you can spare! Every pennny helps.
            <h4>Contribute Today!</h4>
            <div id='footdonatebutton'></div>
          </div>
        </div>
        <div id='footabout' class='foottext'>
          <h3>About Us</h3>
          We are a group of individuals passionate about improving America. Some of us are still college students, while others are just starting their careers in engineering, or pursuing medical school or law school. We don't have an office or physical location. Only our computers and the drive to do something for our country.
          <a class='foottextlink' href='/about'>Learn More About Our Team -></a>
        </div>
        <div id='footsources' class='foottext'>
          <h3>Our Sources</h3>
          We are committed to being the most trustworthy, unbiased, and comprehensive source of government data on the internet. All of our stats are cross checked against multiple sources, and all of our data comes from primary sources. Our data comes directly from the government or from other open data sources that distribute data directly from the government.
          <a class='foottextlink' href='/sources'>Learn More About Our Data and Sources -></a>
        </div>
        <div id='footfoot'>
            <img id='footlogo' src='/images/gclogo_noback.png'>The Glass Capitol™ Founded 2015
        </div>
      </div>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-71696329-1', 'auto');
        ga('send', 'pageview');

      </script>
      
    </body>