{% extends "newbase.html" %}

{% block content %}
<div id='sources'>
	<h1>Sources And Data Integrity</h1>
	<div id='sources_ourdata' class='source_section'>
		<div class='blurb'>			
			<h2>Our Data -Trusted, Comprehensive, Unbiased</h2>
			All of our data is thoroughly vetted and cross checked against multiple sources wherever possible. Data integrity is majorly important to us. Below are descriptions of the two main types of data we collect.
		</div>
		<div id='ourdatatypes'>
			<div class='ourdatatype'>	
				<h3>Quantitative & Verifiable</h3>
				This is the main type of data we collect. It includes voting records, budgets, economic data, demographics, etc… This data is collected directly from the source. In the case of legislative data such as voting records or bills, we use the Sunlight Foundation’s API. All other data of this type comes directly from the government.
				<a class='foottextlink' href='#'>data.gov -></a>
			</div>

			<div class='ourdatatype'>
				<h3>Qualitative & Observational</h3>
				Data of this type is collected from reputable scholarly sources such as the Pew Research Center, or university based papers. We thoroughly vet each source and do not accept research that is demonstrably partisan
				<a class='foottextlink' href='#'>The Pew Research Center -></a>
			</div>
		</div>
	</div>
	<div id='sources_citations' class='source_section'>
		<div id='citationintro'>
			<h2>Citations</h2>
			We don’t just demand transparency; we also exemplify it. That is why every source used by The Glass Capitol can be found catalogued on this page, along with descriptions and assumptions for statistics we derive from the data. 
		</div>
		<div class='citation'>
			<h3>Stat Name</h3>
			<p class='citation_description'>
				Description: This is a description of the stat or piece of knowledge
			</p>
			<p class='citation_assumptions'>
				Assumptions: Assumptions made when calculating this statistic that are relevant to its interpretation
			</p>
		</div>
		<div class='citation'>
			<h3>Stat Name</h3>
			<p class='citation_description'>
				Description: This is a description of the stat or piece of knowledge
			</p>
			<p class='citation_assumptions'>
				Assumptions: Assumptions made when calculating this statistic that are relevant to its interpretation
			</p>
		</div>
		<div class='citation'>
			<h3>Stat Name</h3>
			<p class='citation_description'>
				Description: This is a description of the stat or piece of knowledge
			</p>
			<p class='citation_assumptions'>
				Assumptions: Assumptions made when calculating this statistic that are relevant to its interpretation
			</p>
		</div>
		<div class='citation'>
			<h3>Stat Name</h3>
			<p class='citation_description'>
				Description: This is a description of the stat or piece of knowledge
			</p>
			<p class='citation_assumptions'>
				Assumptions: Assumptions made when calculating this statistic that are relevant to its interpretation
			</p>
		</div>


	</div>
</div>

<style>
#sources{background:#0E1C32;color:white;padding:100px 200px 50px 5vw;font-size:90%;z-index:1;}
#sources h2, h3, h4, h4{text-align:left}
#sources_nav{position:fixed;right:0;font-weight:bold;color:gainsboro;z-index:2;background:#0E1C32;}
#sources_nav ul{text-decoration:none;padding:0;margin:0;}
#sources_nav li{display:block;padding:5px;margin:2px;}
#sources_nav li:hover{text-decoration:underline;}
.source_section{position:relative;padding:50px 0;}
#sources .blurb{width:700px;max-width:100%;margin-bottom:50px;}
#sources .blurb h2,h3{margin-bottom:5px;}
#sourceimg_wrapper{position:relative;width:800px;max-width:100%;margin:0 auto;display:flex;justify-content:space-between;flex-wrap:wrap;}
#sourceimg{background:#162D50;margin:0 auto;width:150px;height:150px;}
#sourceimgtext{width:50%;min-width:275px;margin:0 auto;}
#ourdatatypes{display:flex;flex-wrap:wrap;justify-content:space-between;}
.ourdatatype{width:40%;min-width:275px;margin:20px auto;}
#sources .quote{padding:50px 100px;}
#citationintro{padding-bottom:50px;border-bottom:solid #214478 1px;}
.citation{padding:25px 0;border-bottom:solid #214478 1px;font-size:80%;}
.citation h3{color:white;}
</style>

{% endblock %}