{% extends "publicbase.html" %}

{% block content %}
<div id='sources'>
	<h1>Sources And Data Integrity</h1>
	<div id='sources_nav'>
		<ul>
			<li>Top</li>
			<li>Our Data</li>
			<li>Open Government</li>
			<li>Citations</li>
		</ul>
	</div>
	<div id='sources_top'>
		opening
	</div>
	<div id='sources_ourdata'>
		<h2>Our Data</h2>
		We are committed to being the most trustworthy, unbiased, and holistic source of government data on the internet. All of our data is thoroughly vetted and cross checked against multiple sources wherever possible. Below are descriptions of the two main types of data we collect.

		<h3>Quantitative & Verifiable</h3>
		This is the main type of data we collect. It includes voting records, budgets, economic data, demographics, etc… This data is collected directly from the source. In the case of legislative data such as voting records or bills, we use the Sunlight Foundation’s API. All other data of this type comes directly from the government.

		<h3>Qualitative & Observational</h3>
		Data of this type is collected from reputable scholarly sources such as the Pew Research Center, or university based papers. We thoroughly vet each source and do not accept research that is demonstrably partisan
	</div>
	<div id='sources_opengov'>
		<h2>What Makes All of This Possible?</h2>
		Besides our team of highly skilled developers and engineers, we live in an unprecedented era of open government data.

		<h3>We are an Aggregator and Distributor of Open Government Data</h3>
		The Open Government Initiative is an effort spurned by the Obama Administration with the intent of increasing transparency, participation, and collaboration with government.

		<div class='quote'>
			“My Administration is committed to creating an unprecedented level of openness in Government. We will work together to ensure the public trust and establish a system of transparency, public participation, and collaboration. Openness will strengthen our democracy and promote efficiency and effectiveness in Government.”
			<div class='quote_author'>President Obama January 21, 2009</div>
		</div>
	</div>
	<div id='sources_citations'>
	</div>
</div>

{% endblock %}