{% extends "base.html" %}

{% block content %}
<link rel='stylesheet' href='css/splash.css'/>
<h1 id='title'>The Glass Capitol</h1>
<div id='fullcapitol'><img id='fullcap' src='/images/fgc1.png'></div>
<div id='desktop_sell'>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Relevant
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Simple
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Powerful
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Personalized
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Fast
          </div>
        </div>
      </div>
{% endblock %}