{% extends "base.html" %}

{% block content %}
<link rel='stylesheet' href='css/splash.css'/>
<h1 id='title'>The Ass Capitol</h1>
<div id='fullcapitol'><img id='fullcap' src='/images/fgc1.png'></div>
<div id='desktop_sell'>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Relevant<br><br><span class='sp_description'>We keep track of issues relevant in today's ever advancing world</span>
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Simple<br><br><span class='sp_description'>We pride ourselves in being the easiest to use source of government information</span>
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Powerful<br><br><span class='sp_description'>We give the American people the power to keep our politicians accountable, and tie our government to our will</span>
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Personalized<br><br><span class='sp_description'>With an account we can ensure the issues you care about are front and center</span>
          </div>
          <div class='dsell_box'>
            <img class='star' src='/images/star.png'><br>
            Fast<br><br><span class='sp_description'>Every stat and metric we keep is only a few clicks or taps away</span>
          </div>
        </div>
      </div>
{% endblock %}