{% extends "newbase.html" %}

{% block pagenav %}

	<!--<div id='pagenav'>
		<div class='pagenav-option' onclick="javascript:scrollTo('mission-wrapper');return false;">Mission</div>
		<div class='pagenav-option' onclick="javascript:scrollTo('core-wrapper');return false;">Core Beliefs</div>
		<div class='pagenav-option' onclick="javascript:scrollTo('works-wrapper');return false;">How TGC Works</div>
		<div class='pagenav-option' onclick="javascript:scrollTo('tgc-gov-wrapper');return false;">TGC and Government</div>
		<div class='pagenav-option' onclick="javascript:scrollTo('team-wrapper');return false;">The Team</div>
		<div class='pagenav-option' onclick="javascript:scrollTo('code-wrapper');return false;">Our Code</div>
	</div>-->
{% endblock %}

{% block content %}
<div id='team'>
	<h1 style='text-align:center;'>Meet Our Teammembers!</h1>
	<div id='alex' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Alex Haynes: Founder, Chief Developer, Data Acquisition</h2>
			<p>In 2008 when I turned 18 and gained the right to vote I sought out as much information as possible to ensure my vote went to the right person. I knew then that politics needs to be easier. As founder I am responsible for the overall vision and goals of the company. In addition to that I have been the chief developer since I started developing this website on my own in 2015. I believe in hands on leadership and I have a significant role in every aspect of TGC.</p>
		</div>
	</div>
	<div id='travis' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Travis Cook: Designer, Analyst, and Manager</h2>
			<p></p>
		</div>
	</div>
	<div id='steven' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Steven Schweinhart: Lead Developer, Lead Systems Architect</h2>
			<p>I am the primary developer finding and compiling data we have on our website. I focus on using APIs to keep TGC updated with the latest data. Ensuring that our data is correct and available is my priority. In addition I help create the front end designing and implementing the interactives our users see.</p>
		</div>
	</div>
	<div id='jordan' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Jordan Smith: Marketing, Business Liaison</h2>
			<p>From the moment Alex pitched the idea of the glass capitol to me, I was confident that we could make it into something real and important. The success of The Glass Capitol is very important to me personally as such, my goal is to help spread the word about The Glass Capitol and make sure we function properly as a business unit. It is pivotal that we are dynamic and responsive to the ever changing world around us and I hope to set forth business practices that ensure that we are.</p>
		</div>
	</div>
	<div id='kshma' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Kshma Kulkarni: Chief Operations Officer, Editor in Chief, Public Relations</h2>
			<p>I manage the team to make sure everything is running smoothly in order to build TGC toward our long term goals of changing how we as Americans approach our government. Additionally, I design page layouts/alternatives, (write some and) edit all text on the page to be accurate and user-friendly, direct the survey system, and oversee affiliations and public services. </p>
		</div>
	</div>
	<div id='aaron' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Aaron Wiggen: Visual Design, Chief Space Wizard</h2>
			<p>-I believe The Glass Capitol has the potential  to offer legitimate change to our current political system by creating a more informed voter. By providing users with easily accessible information, we hope to allow people to make their votes count more towards what matters to them. It’s my responsibility to make sure that this is presented in a simple, yet attractive way - something that will keep people coming back to the site time after time.</p>
		</div>
	</div>
	<div id='deepa' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Deepa Singh: Marketing, Developer, Social Media</h2>
			<p></p>
		</div>
	</div>
	<div id='daniel' class='person'>
		<div class='picture'><img src='/images/placeholderimg.png' class='graphic'></div>
		<div class='text'>
			<h2>Daniel Altman: Legal Consultant, Newsletter Manager, Editor</h2>
			<p></p>
		</div>
	</div>
</div>
<style>
.person{position:relative;display:flex;}
.picture{position:relative;width:30%;padding:5% 10%;}
.text{position:relative;width:40%;padding:5% 0%;margin-right:5%;}
</style>

{% endblock %}