{% extends "publicbase.html" %}

{% block content %}
  <div id='construction'>Coming Early 2016!</div>
  <div id='stuff'>
    <div id='logo'><img src='/images/gclogo_noback.png' alt='...'></div>
    <h1>The Glass Capitol</h1>
    <h3>The way we interact with our politicians and media is about to change forever. Its time our politics entered the new digital age.</h3>
  </div>

  <style>
    html, body{margin:0;color:#0E1C32;font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;line-height:150%;height:100%;
    }
    #construction{padding:10px;background:yellow;font-size:150%;color:black;font-weight:bold;border-top:dashed black 5px;border-bottom:dashed black 5px;}
    #stuff{position:absolute;top:40%;left:50%;transform: translate(-50%, -50%);}
    h1{font-size:450%;font-weight:bold;}
    h3{color:#ff3333;}
    #logo img{height:100px;}
    input{text-align:center;padding:10px;font-size:150%;}
  </style>

  <script>
    function submitSign() {
      document.getElementById("subbutton").disabled=true;
      setTimeout('document.getElementById("subbutton").disabled=false;',1200);
      email = document.getElementById('email').value;
      $.post('/newsletter', {email: email}, function(data){
        console.log(data)
      });
    }
  </script>

  {% endblock %}
  