{% extends "publicbase.html" %}

{% block content %}
  <div id='vprop'>
    <div id='perma'>
      <div class='opacity-background z-index-1'></div>
      <div class='opacity-foreground'>
        <div id='permatitle'>
          <h1>The Glass Capitol</h1>
          <h2>Politics for the new digital age</h2>
        </div>
        <div class='flex-columns'>
          <div id='principles'>
            <ul>
              <li id='core1' class='core-text'>Explore</li>
              <li id='core2' class='core-text'>Create</li>
              <li id='core3' class='core-text'>Share</li>
              <li id='core4' class='core-text'>Learn</li>
              <li id='core5' class='core-text'>Grow</li>              
            </ul>
          </div>
          <div id='vpropslide_wrapper' class='flex-columns'>
            <div id='left-arrow' class='arrow'>
              <div class='arrblock'></div>
            </div>
            <div id='vprop-msg'>
              <h2>Impartial and Interactive Data</h2>
              <h3>All government related knowledge made easy to understand, checked for bias, and equipped to create statistics, so you can build the bigger picture and make decisions for yourself.</h3>
            </div>
            <div id='right-arrow' class='arrow'>
              <div class='arrblock'></div>
            </div>
          </div>
        </div>
        <div id='vprop-actions'>
          <h2>Stay Up To Date With Our Development</h2>
          <form id='esfform' name='esfform' onsubmit="javascript:submitESF();return false;">
            <input type='text' placeholder='Enter Email'>
            <input type='button' value='submit' id='esfsubmit' class='z-depth-1 dformbutton' onclick="javascript:submitESF();return false;">
          </form>
        </div>
      </div>
    </div>
    
    <img id='redarialart' src='/images/basearial.png' alt='...'>
    
    <div id='vpropfooter'>
      <img id='flagswaving' src='/images/flagswaving.png'>
      <div id='footfoot'>
        <img id='footlogo' src='/images/awlogo.png'>The Glass Capitol™ Founded 2015
      </div>
    </div>
  </div>

  <style>
    html, body{color:#0E1C32;}
    #badge{padding:0 10px !important;}
    .opacity-background{position:absolute;top:0;left:0;height:100%;width:100%;background:white;opacity:.6;z-index:0;}
    .opacity-foreground{position:relative;z-index:10;}
    .flex-columns{display:flex;justify-content:space-between;}
    #vpropcontent{position:relative;min-height:calc(100vh - 70px);max-height:65vw;padding-top:70px;background-image: url("/images/basearial.png");background-size:100%;background-position:center;background-repeat:no-repeat;}
    #colorizer{position:absolute;top:0;left:0;width:100%;height:95vh;background:#0E1C32;opacity:.0;}
    #construction{padding:10px;background:yellow;font-size:150%;color:black;font-weight:bold;border-top:dashed black 5px;border-bottom:dashed black 5px;}
    #perma{position:absolute;top:100px;left:calc(20vw - 20px);vw;min-width:500px;width:60vw;padding:20px;z-index:10}
    #permatitle{text-align:center}
    #principles{width:calc(38% - 10px);margin-right:10px;}
    #principles ul{list-style:none;margin:0;padding:20px;text-align:center;}
    .core-text{text-decoration:none;font-size:200%;font-weight:bold;color:darkred;margin:10px 0;}
    #vpropslide_wrapper{position:relative;width:calc(62% - 10px);margin-left:10px;}
    .arrow{width:50px;}
    .arrblock{position:absolute;top:50%;transform:translate(0,-50%);background:darkred;width:50px;height:50px;text-align:center;}
    #vprop-msg{width:calc(100% - 140px);padding:20px;}
    #vprop-actions{margin-top:20px;text-align:center;}
    h1{font-size:450%;font-weight:bold;}
    h3{color:#ff3333;}
    #logo img{height:100px;}
    input{text-align:center;padding:10px;font-size:150%;}
    #redarialart{width:100%;}
    #footer{display:none;}

    #vpropfooter{position:relative;background:#0E1C32;min-height:10vw;color:white;}
    #flagswaving{position:absolute;top:-40vw;width:100%;opacity:1}
  </style>

  <script>
    function submitSign() {
      document.getElementById("subbutton").disabled=true;
      setTimeout('document.getElementById("subbutton").disabled=false;',1200);
      email = document.getElementById('email').value;
      $.post('/newsletter', {email: email}, function(data){
        console.log(data)
      });
    }
    $('#badge').html("<img src='/images/awlogo.png' alt='...' style='height:100%'>")
  </script>

  {% endblock %}
  